---
title: "Business consultation and product development"
description: "Product Development Thinking of launching your own fragrance brand? Our completely bespoke consulting and product development service is the ideal route to"
---

<div class="entry-content py-5">
<section class="bg-light"><div class="container"><div class="row"><div class="col">
	<div class="card bg-light text-white rounded-0 shadow-sm border-white"> <img src="images/leather-collection-placement-scaled.webp" class="card-img lazyload" alt="...">
		<div class="card-img-overlay d-flex align-items-center justify-content-center"><h1 class="font-weight-bold display-4 text-center text-md-right mb-3"> Consulting and <strong class="text-gold">Product Development</strong></h1></div></div></div></div></div></section>

<section class="pt-5 bg-light"><div class="container"><div class="row align-items-center"><div class="col-12 col-lg-10 mx-auto"><p class="lead mb-4 text-center text-md-left"> Thinking of launching your own fragrance brand? Our completely bespoke consulting and product development service is the ideal route to market, providing you access to our perfumer and designers.</p><p class="lead mb-4 text-center text-md-left"> We&#8217;ll help you realise your dream for your fragranced products, from concept to completed product.</p><p class="lead mb-4 text-center text-md-left"> Please contact us with as much detail as possible and we&#8217;ll be in touch to discuss the various options and your route to scent success.</p><div class="col-12 my-10"> <a href="https://www.humos.co.uk/book/consulting-and-product-development-contact.html" class="btn btn-dark btn-lg rounded-0"> <span class="btn-inner--text">Contact us</span> <span class="btn-inner--icon"> <i data-feather="arrow-righ" t=""></i> </span> </a></div></div></div></div></section></div>