---
title: "Learn about the HUMOS Scent Designer"
description: "Gabriel De Carvalho I always had a secret desire to become a perfumer. From a young age I delighted in natural scents and wonderful aromas and, though I didn&rsquo;t&#8230;"
heading: "The Perfumer and Scent Designer"
subHeading: "Gabriel De Carvalho"
slug: "/the-scent-designer-for-our-essential-oil-blends-aromatherapy-candles-and-natural-perfumes/"
---
<p class="lead mb-4">I always had a secret desire to become a perfumer. From a young age I delighted in natural scents and wonderful aromas and, though I didn’t know it at the time, I had a discerning nose that could pick out an exquisite scent with ease.</p><p class="lead mb-4">Years later, I felt the call back to the world of aromas when I began blending natural essential oils by hand for customers as part of my work in a complementary field.</p><p class="lead mb-4">My customers loved them and HUMOS was born. We are an English artisan brand, built around a passion for natural essential oils and the power that they have to connect with, and heal the body.</p><p class="lead mb-4">Driven by an inquisitive nature, I am still amazed by the abundance of healing, relaxing properties that can be found in natural extracts and it is my joy to share my luxurious blends of pure essential oils and unique scents with you.</p><p class="lead mb-4">You can find my wonderful creations in our blended essential oils, aromatherapy treatment candles, essential oil reed diffusers, essential oil room mists, and our natural perfumes created as part of one of our Blend Bar Experiences or Group Workshops.</p><p class="lead">I hope you enjoy my aromas and scents as much as I do.</p><p class="lead font-weight-bold">Gabriel De Carvalho</p>