
.snipcart {
 
    font-size: 14px;
    font-weight: 300;
    color: #313332;
}
.snipcart * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    display: block;
    line-height: 1;
    list-style: none;
    quotes: none;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.snipcart__font--secondary,
.snipcart__font--subtitle {
 /*   font-family: Montserrat, sans-serif; */
}
.snipcart__font--tiny {
    font-size: 12px;
}
.snipcart__font--std {
    font-size: 14px;
    line-height: 20px;
}
.snipcart__font--large {
    font-size: 16px;
}
.snipcart__box--badge,
.snipcart__font--subtitle,
.snipcart__font--xlarge {
    font-size: 18px;
}
.snipcart__font--slim {
    font-weight: 300;
}
.snipcart__font--regular {
    font-weight: 400;
}
.snipcart__font--bold {
    font-weight: 400;
    line-height: 20px;
}
.snipcart__font--black,
.snipcart__font--subtitle {
    font-weight: 600;
}
.snipcart__font--subtitle {
    display: flex;
}
.snipcart__box {
    padding: 32px 16px;
    position: relative;
    margin-bottom: 10.66667px;
    background-color: #fff;
}
@media (min-width: 1024px) {
    .snipcart__box {
        padding: 32px;
        margin-top: 0;
    }
}
.snipcart__box--large {
    padding: 32px;
    margin-top: 0;
}
.snipcart__box--no-margin {
    margin-bottom: 0;
}
.snipcart__box--gray {
    background-color: #f7fafa;
	
}
.snipcart__box--slim {
    padding: 32px 32px 16px 32px;
}
@media (min-width: 1024px) {
    .snipcart__box--slim {
        padding: 16px 32px;
    }
}
.snipcart__box--slim--large {
    padding: 16px 32px;
}
.snipcart__box--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1024px) {
    .snipcart__box--title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.snipcart__box--subtitle,
.snipcart__box--title--large {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.snipcart__box--content {
    padding: 10.66667px 0;
}
.snipcart__box--badge {
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: 3px solid #F8F9FA;
    background-color: #f7fafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
    margin-bottom: 10.66667px;
}
@media (min-width: 1024px) {
    .snipcart__box--badge {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -48px;
        margin-right: 8px;
    }
}
.snipcart__box--badge--large {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -48px;
    margin-right: 8px;
}
.snipcart__box--badge-highlight {
 /*   background: linear-gradient(90deg, #5082e4, #52bcf8); */
	background-color: #FFC107;
    color: #fff;
}
.snipcart-modal {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
  /*  background-color: #F8F9FA; */
	background-color: #F8F9FA;
}
@supports (-webkit-overflow-scrolling: touch) {
    .snipcart-modal input,
    .snipcart-modal select,
    .snipcart-modal textarea {
        font-size: 16px;
    }
}
.snipcart-modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    z-index: 20;
    background-color: #F8F9FA;
}
.snipcart-modal__overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}
.snipcart-modal__close {
    background-color: transparent;
    border: none;
}
.snipcart-modal__close:focus {
    outline: 5px auto -webkit-focus-ring-color;
}
.snipcart-modal__close:active {
    outline: none;
}
.snipcart-modal__header {
    padding: 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.snipcart-modal__header--fixed {
    padding: 16px;
    min-height: 80px;
}
.snipcart-modal__header-sumary {
    cursor: pointer;
}
.snipcart-modal__header-summary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.snipcart-modal__close {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #313332;
    cursor: pointer;
}
.snipcart-modal__close-icon {
    margin-right: 10px;
}
.snipcart-modal__close-title {
    display: none;
    line-height: 1.4;
}
@media (min-width: 768px) {
    .snipcart-modal__close-title {
        display: inline;
        height: 20px;
    }
}
.snipcart-modal__close-title--tablet-up {
    display: inline;
    height: 20px;
}
.snipcart__actions--link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.snipcart__actions--link:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}
.snipcart__button--icon {
    border: 1px solid #F8F9FA;
    padding: 3.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}
.snipcart__button--icon img {
    width: 14px;
    height: 14px;
}
.snipcart__button--icon:active,
.snipcart__button--icon:focus {
    outline: none;
    border: 1px solid #52bcf8;
}
.snipcart__button--no-border {
    border: none;
    padding: 0;
    margin: 0;
}
.snipcart__button--no-border:active,
.snipcart__button--no-border:focus {
    border: none;
}
.snipcart__button--with-icon {
    border: 1px solid #F8F9FA;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}
.snipcart__button--with-icon img {
    width: 14px;
    height: 14px;
}
.snipcart__button--with-icon:active,
.snipcart__button--with-icon:focus {
    outline: none;
    border: 1px solid #52bcf8;
}
.snipcart__button--with-icon--no-border,
.snipcart__button--with-icon--no-border:active,
.snipcart__button--with-icon--no-border:focus {
    border: none;
}
.snipcart__notice--with-icon {
    display: flex;
    align-items: center;
}
.snipcart__notice__icon {
    min-width: 20px;
    min-height: 20px;
}
.snipcart__icon {
    width: 20px;
    height: 20px;
}
.snipcart__icon--spin {
    animation: spin 0.7s linear 0s infinite;
}
.snipcart__icon--angled {
    transform: rotateY(0deg) rotate(45deg);
}
.snipcart__icon--left {
    margin-right: 10px;
}
.snipcart__icon--small {
    width: 16px;
    height: 16px;
}
.snipcart__icon--default {
    width: 125px;
    height: auto;
}
.snipcart__icon--std {
    width: 20px;
    height: 20px;
}
.snipcart__icon--medium {
    width: 30px;
    height: 30px;
}
.snipcart__icon--large {
    width: 40px;
    height: 40px;
}
.snipcart__icon--xlarge {
    width: 125px;
    height: 125px;
}
.snipcart__icon--white path {
    fill: #fff;
}
.snipcart__icon--darker path {
    fill: #313332;
}
.snipcart__icon--dark path {
    fill: #989ba3;
}
.snipcart__icon--red path {
    fill: #d93120;
}
.snipcart__icon--brand {
    width: auto;
    height: 20px;
}
.snipcart__icon--blue-light path {
    fill: #000000;
}
.snipcart__icon--blue-dark path {
    fill: #000000;
}
.snipcart-overlay--disabled {
    position: absolute;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.snipcart-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}
.snipcart-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.snipcart-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: 0;
}
.snipcart-cart {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.snipcart-cart__layout {
    box-shadow: 10px 10px 15px 10px #d9dfe0;
}
.snipcart-cart__featured-payment-methods-container {
    margin-top: 32px;
}
.snipcart-cart__featured-payment-methods-title {
    display: flex;
    align-items: center;
    padding: 3.2px;
    margin-top: -1em;
    margin-bottom: 0;
    background-color: #F8F9FA;
}
.snipcart-cart__content {
    margin: 0 auto;
    background-color: #F8F9FA;
}
.snipcart-cart__edit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.snipcart-cart__footer {
    padding: 0 16px;
}
@media (min-width: 1024px) {
    .snipcart-cart__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10.66667px;
    }
}
.snipcart-cart__footer--large {
    display: flex;
    justify-content: space-between;
    margin-top: 10.66667px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-cart__footer {
        display: block;
        margin-top: 0;
    }
}
.snipcart__media-query--tablet .snipcart-cart__footer {
    display: block;
    margin-top: 0;
}
@media (min-width: 768px) {
    .snipcart-cart__footer {
        padding: 0;
    }
}
.snipcart-cart__footer--tablet-up {
    padding: 0;
}
@media (min-width: 1024px) {
    .snipcart-cart__footer-col {
        width: 33.33333%;
    }
}
.snipcart-cart__footer-col--large {
    width: 33.33333%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-cart__footer-col {
        width: 100%;
    }
}
.snipcart__media-query--tablet .snipcart-cart__footer-col {
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-cart__footer-discount-box {
        padding-bottom: 20px;
    }
}
.snipcart__media-query--tablet .snipcart-cart__footer-discount-box {
    padding-bottom: 20px;
}
.snipcart-cart__discount-box {
    margin-bottom: 40px;
}
.snipcart-cart__secondary-header {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #f8fafa;
    height: 100%;
    max-height: 64px;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}
.snipcart-cart__secondary-header-title {
    flex: 1;
}
@media (min-width: 1024px) {
    .snipcart-cart__secondary-header {
        min-height: 96px;
        padding-left: 64px;
        padding-right: 32px;
    }
}
.snipcart-cart__secondary-header--large {
    min-height: 96px;
    padding-left: 64px;
    padding-right: 32px;
}
.snipcart-cart__checkout-button {
    margin-top: 16px;
}
.snipcart-cart--edit .snipcart-cart__footer-col {
    width: 100%;
}
.snipcart-cart--edit .snipcart-cart__discount-box {
    margin-bottom: 40px;
}
.snipcart-cart--edit .snipcart-cart__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    flex: 1;
    margin: 0;
}
.snipcart-cart--edit .snipcart-cart__footer {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
    display: block;
}
@media (min-width: 1024px) {
    .snipcart-cart--edit .snipcart-cart__footer {
        padding: 16px 64px;
    }
}
.snipcart-cart--edit .snipcart-cart__footer--large {
    padding: 16px 64px;
}
.snipcart-cart--edit {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    background-color: #fff;
    height: 100%;
}
.snipcart-cart-header {
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 400;
    top: 0;
    width: 100%;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .snipcart-cart-header {
        width: 80%;
        margin: 0 auto 16px auto;
    }
}
.snipcart-cart-header--tablet-up {
    width: 80%;
    margin: 0 auto 16px auto;
}
@media (min-width: 1024px) {
    .snipcart-cart-header {
        padding-right: 0;
        padding-left: 0;
        z-index: auto;
        height: auto;
        position: relative;
        padding: 32px 16px;
    }
}
.snipcart-cart-header--large {
    padding-right: 0;
    padding-left: 0;
    z-index: auto;
    height: auto;
    position: relative;
    padding: 32px 16px;
}
.snipcart-cart-header__close-button {
    flex: 1;
    justify-content: flex-start;
}
.snipcart-cart-header__title {
    flex: 1;
    text-align: center;
}
.snipcart-cart-header__options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.snipcart-cart-header__option {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.snipcart-cart-header__option:not(:last-child) {
    margin-right: 16px;
}
.snipcart-cart-header__count,
.snipcart-cart-header__sign-in,
.snipcart-cart-header__sign-out {
    cursor: pointer;
}
.snipcart-cart-header__customer-account {
    margin-right: 24px;
    cursor: pointer;
}
.snipcart-cart-header__icon {
    margin-right: 5px;
}
.snipcart-cart-header--fixed {
    position: fixed;
}
.snipcart-empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    color: #989ba3;
}
.snipcart-empty-cart__title {
    height: 70%;
    display: flex;
    align-items: center;
}
.snipcart-custom-field-wrapper__label {
    margin-bottom: 8px;
}
.snipcart-custom-field-wrapper__label .required__asterisk {
    color: #d93120;
    display: inline-block;
}
@media (min-width: 1024px) {
    .snipcart-dropdown-custom-field--standard {
        width: 33.33333%;
    }
    .snipcart-dropdown-custom-field--medium {
        width: 66.66667%;
    }
    .snipcart-dropdown-custom-field--large {
        width: 100%;
    }
}
.snipcart-dropdown-custom-field--large--standard {
    width: 33.33333%;
}
.snipcart-dropdown-custom-field--large--medium {
    width: 66.66667%;
}
.snipcart-dropdown-custom-field--large--large {
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-dropdown-custom-field--large,
    .snipcart-dropdown-custom-field--medium,
    .snipcart-dropdown-custom-field--standard {
        width: 100%;
    }
}
.snipcart__media-query--tablet .snipcart-dropdown-custom-field--large,
.snipcart__media-query--tablet .snipcart-dropdown-custom-field--medium,
.snipcart__media-query--tablet .snipcart-dropdown-custom-field--standard {
    width: 100%;
}
.snipcart-textarea-custom-field {
    height: 80px;
    width: 100%;
    background-color: #fdfefe;
    border: 1px solid #F8F9FA;
    padding: 8px;
}
.snipcart-item-custom-fields {
    width: 100%;
    flex-grow: 1;
}
@media (min-width: 1024px) {
    .snipcart-item-custom-fields {
        display: flex;
        flex-wrap: wrap;
    }
}
.snipcart-item-custom-fields--large {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-custom-fields {
        display: block;
    }
}
.snipcart__media-query--tablet .snipcart-item-custom-fields {
    display: block;
}
.snipcart-item-custom-fields__field {
    margin-bottom: 10px;
}
@media (min-width: 1024px) {
    .snipcart-item-custom-fields__field {
        padding-right: 20px;
    }
}
.snipcart-item-custom-fields__field--large {
    padding-right: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-custom-fields__field {
        padding-right: 0;
    }
}
.snipcart__media-query--tablet .snipcart-item-custom-fields__field {
    padding-right: 0;
}
.snipcart-cart--edit .snipcart-item-custom-fields {
    display: block;
}
.snipcart-cart--edit .snipcart-item-custom-fields__field {
    padding-right: 0;
    width: 100%;
}
.snipcart-item-description {
    max-width: 500px;
    line-height: 20px;
}
.snipcart-typeahead__select {
    position: relative;
}
.snipcart-typeahead__suggestions {
    position: relative;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    list-style-type: none;
    z-index: 1;
    width: 100%;
    cursor: pointer;
    border: 1px solid #04befe;
    overflow-y: auto;
}
@media (min-width: 1024px) {
    .snipcart-typeahead__suggestions {
        position: absolute;
        background-color: #fff;
        max-height: auto;
        height: auto;
        top: 100%;
        max-height: 300px;
        overflow-y: auto;
    }
}
.snipcart-typeahead__suggestions--large {
    position: absolute;
    background-color: #fff;
    max-height: auto;
    height: auto;
    top: 100%;
    max-height: 300px;
    overflow-y: auto;
}
.snipcart-typeahead__suggestion {
    margin: 0;
    padding: 8px 16px;
    color: #313332;
}
.snipcart-typeahead__suggestion--active {
    background-color: #eee;
}
.snipcart-typeahead__suggestion--secondary {
    color: #71a0aa;
}
.snipcart-typeahead__suggestion--loading {
    color: #71a0aa;
    text-align: center;
}
@keyframes slideIn-data-v-00c4f9d2 {
    0% {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes spin-data-v-00c4f9d2 {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes slideDown-data-v-00c4f9d2 {
    0% {
        height: 0;
    }
    to {
        height: 100vh;
    }
}
@keyframes fadeIn-data-v-00c4f9d2 {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes popUp-data-v-00c4f9d2 {
    0% {
        opacity: 0;
        transform: scale(0.35);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.snipcart-transition--slide-in-enter-active[data-v-00c4f9d2] {
    animation: slideIn-data-v-00c4f9d2 0.5s;
}
.snipcart-transition--slide-in-leave-active[data-v-00c4f9d2] {
    animation: slideIn-data-v-00c4f9d2 0.3s reverse;
}
.snipcart-transition--popup-enter-active[data-v-00c4f9d2] {
    animation: popUp-data-v-00c4f9d2 0.2s;
}
.snipcart-transition--popup-leave-active[data-v-00c4f9d2] {
    animation: popUp-data-v-00c4f9d2 0.2s reverse;
}
.snipcart-form__field--plan[data-v-00c4f9d2] {
    flex-grow: 0;
    flex-shrink: 0;
}
.snipcart-form__field--plan .snipcart-form__select[data-v-00c4f9d2],
.snipcart-item-plans {
    width: 100%;
}
@media (min-width: 1024px) {
    .snipcart-item-plans {
        display: flex;
        flex-wrap: wrap;
    }
}
.snipcart-item-plans--large {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-plans {
        display: block;
    }
}
.snipcart__media-query--tablet .snipcart-item-plans {
    display: block;
}
.snipcart-item-plans .snipcart-form__field--plan {
    margin-bottom: 10px;
}
@media (min-width: 1024px) {
    .snipcart-item-plans .snipcart-form__field--plan {
        padding-right: 20px;
    }
}
.snipcart-item-plans .snipcart-form__field--plan--large {
    padding-right: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-plans .snipcart-form__field--plan {
        padding-right: 0;
    }
}
.snipcart__media-query--tablet .snipcart-item-plans .snipcart-form__field--plan {
    padding-right: 0;
}
.snipcart-cart--edit .snipcart-item-plans {
    display: block;
}
.snipcart-cart--edit .snipcart-item-plans__field {
    padding-right: 0;
    width: 100%;
}
.snipcart-item-plans .snipcart-form__field--plan--billed-on {
    display: flex;
    flex-direction: column;
}
.snipcart-item-plans .snipcart-form__field--plan--billed-on .snipcart-form__field--plan__readonly {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.snipcart-item-line {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(231, 235, 237, 0.6);
}
.snipcart-item-line__container {
    padding: 32px;
    display: flex;
    margin: 0 16px 24px 16px;
}
@media (min-width: 768px) {
    .snipcart-item-line__container {
        margin: 0 0 24px 0;
    }
}
.snipcart-item-line__container--tablet-up {
    margin: 0 0 24px 0;
}
.snipcart-item-line__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
@media (min-width: 1024px) {
    .snipcart-item-line__header {
        margin-bottom: 0;
    }
}
.snipcart-item-line__header--large {
    margin-bottom: 0;
}
.snipcart-item-line__header__title {
    padding: 0;
    margin: 0;
}
.snipcart-item-line__quantity {
    min-width: 25%;
}
@media (min-width: 1024px) {
    .snipcart-item-line__quantity {
        min-width: 240px;
    }
}
.snipcart-item-line__quantity--large {
    min-width: 240px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-line__quantity {
        width: auto;
    }
}
.snipcart__media-query--tablet .snipcart-item-line__quantity {
    width: auto;
}
.snipcart-item-line__body {
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-item-line__body {
        display: block;
    }
}
.snipcart__media-query--tablet .snipcart-item-line__body {
    display: block;
}
.snipcart-item-line__product {
    width: 100%;
}
.snipcart-item-line__variants {
    padding-top: 16px;
}
@media (min-width: 1024px) {
    .snipcart-item-line__variants {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 8px;
    }
}
.snipcart-item-line__variants--large {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 8px;
}
.snipcart-item-line__variants > div:first-child {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.snipcart-item-line__variants .snipcart-item-plans {
    margin-bottom: 16px;
}
.snipcart-item-line__info {
    width: 100%;
    padding: 8px 0;
}
.snipcart-item-line__image {
    width: auto;
    max-height: 100%;
}
@media (min-width: 1024px) {
    .snipcart-item-line__image {
        width: 120px;
    }
}
.snipcart-item-line__image--large {
    width: 120px;
}
.snipcart-item-line__media {
    margin: 0;
    padding: 0;
    min-width: 120px;
    margin-right: 32px;
}
.snipcart-item-line__media--small {
    min-width: auto;
    height: 32px;
    margin: 0;
    width: auto;
}
.snipcart-item-line--cart-edit .snipcart-item-line__edit {
    max-width: 40px;
    width: auto;
}
.snipcart-item-line--cart-edit .snipcart-item-line__variants {
    display: block;
}
.snipcart-item-line--cart-edit .snipcart-item-line__title {
    flex: 1;
    text-align: left;
    padding-left: 8px;
}
.snipcart-item-line--cart-edit .snipcart-item-line__product {
    width: 100%;
}
.snipcart-item-line--cart-edit .snipcart-item-line__image {
    max-width: 40px;
    width: auto;
}
.snipcart-item-line--cart-edit {
    box-shadow: none;
    padding: 32px 0;
    border-bottom: 1px solid #F8F9FA;
    margin: 0 32px;
}
@media (min-width: 1024px) {
    .snipcart-item-line--cart-edit {
        margin: 0 64px;
    }
}
.snipcart-item-line--cart-edit--large {
    margin: 0 64px;
}
.snipcart-item-line:last-child {
    margin-bottom: 0;
}
.snipcart-item-line .snipcart-form__field--plan__readonly {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
}
.snipcart-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}
.snipcart-cart--edit .snipcart-item-list {
    background-color: #fff;
    margin-bottom: 0;
}
.snipcart-item-quantity {
    color: #313332;
    margin-top: -2px;
}
.snipcart-item-quantity__label {
    margin-bottom: 8px;
    display: inline-block;
}
.snipcart-item-quantity__button {
    max-height: 18px;
}
.snipcart-item-quantity__button:focus path {
    fill: #52bcf8;
}
.snipcart-item-quantity__quantity {
    display: flex;
    align-items: center;
    color: #313332;
    line-height: normal;
    height: 52px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fdfefe;
    justify-content: space-between;
    border: 1px solid #F8F9FA;
    width: 50%;
    max-width: 160px;
}
.snipcart-item-quantity__quantity--disabled {
    justify-content: center;
}
.snipcart-item-quantity__quantity-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snipcart-checkout__content {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.snipcart-checkout__step-cols {
    justify-content: space-between;
    padding: 10.66667px 0;
}
.snipcart-checkout__step-col,
.snipcart-checkout__step-cols {
    display: flex;
    align-items: flex-start;
}
.snipcart-checkout__step-title {
    display: none;
}
.snipcart-change-password__form {
    box-shadow: none !important;
}
.snipcart-change-password__title {
    margin-bottom: 16px;
    margin-top: 16px;
}
.snipcart-change-password__title:first-child {
    margin-top: 0;
}
.snipcart-change-password__box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    max-width: 540px;
}
.snipcart-change-password__submit-button {
    margin-top: 16px;
}
.snipcart-guest-checkout__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.snipcart-guest-checkout__or {
    position: relative;
    z-index: 99;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    background: #fdfefe;
    margin-left: auto;
    margin-right: auto;
}
.snipcart-guest-checkout__seperator {
    margin-top: -5px;
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #d9dfe0;
}
.snipcart-guest-checkout__link {
    text-align: center;
    color: #52bcf8;
}
.snipcart-orders-link {
    justify-content: left;
    margin-bottom: 20px;
}
.snipcart-edit-customer-address__form {
    box-shadow: none !important;
}
.snipcart-edit-customer-address__title {
    margin-bottom: 16px;
    margin-top: 16px;
}
.snipcart-edit-customer-address__title:first-child {
    margin-top: 0;
}
.snipcart-edit-customer-address__box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    max-width: 540px;
}
.snipcart-edit-customer-address__submit-button {
    margin-top: 16px;
}
.snipcart-forgot-password__box {
    width: 100%;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}
.snipcart-forgot-password .snipcart-forgot-password__form {
    box-shadow: none;
}
.snipcart-forgot-password__title {
    margin-bottom: 16px;
}
.snipcart-forgot-password__instructions {
    margin-bottom: 16px;
    line-height: 24px;
}
.snipcart-forgot-password__submit-button {
    margin-top: 16px;
}
.snipcart-register__title {
    margin-bottom: 16px;
}
.snipcart-register__register {
    margin-bottom: 32px;
}
.snipcart-register__box {
    width: 100%;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}
.snipcart-register .snipcart-register__form {
    box-shadow: none;
}
.snipcart-register__register-link {
    text-decoration: none;
    display: inline;
    color: #52bcf8;
    cursor: pointer;
}
.snipcart-register__submit-button {
    margin-top: 32px;
}
.snipcart-reset-password__box {
    width: 100%;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}
.snipcart-reset-password .snipcart-reset-password__form {
    box-shadow: none;
}
.snipcart-reset-password__title {
    margin-bottom: 16px;
}
.snipcart-reset-password__submit-button {
    margin-top: 16px;
}
.snipcart-signin__title {
    margin-bottom: 16px;
}
.snipcart-signin__register {
    margin-bottom: 32px;
}
.snipcart-signin__box {
    width: 100%;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}
.snipcart-signin .snipcart-signin__form {
    box-shadow: none;
}
.snipcart-signin__register-link {
    text-decoration: none;
    display: inline;
    color: #52bcf8;
    cursor: pointer;
}
.snipcart-signin__forgot-password {
    text-decoration: none;
    text-align: right;
    margin-top: 8px;
    color: #52bcf8;
}
.snipcart-signin__submit-button {
    margin-top: 32px;
}
.snipcart-order__box {
    margin-bottom: 1px;
}
.snipcart-order__details-title,
.snipcart-order__title {
    margin-bottom: 24px;
}
.snipcart-order__card {
    display: flex;
    align-items: center;
}
.snipcart-order__step-title {
    display: block;
    margin-bottom: 16px;
}
.snipcart-order__footer {
    margin-bottom: 32px;
}
.snipcart-order__details {
    margin-bottom: 32px;
    margin: 0 16px 24px 16px;
}
@media (min-width: 1024px) {
    .snipcart-order__details {
        width: 100%;
        max-width: 566px;
        margin: 0 auto;
    }
}
.snipcart-order__details--large {
    width: 100%;
    max-width: 566px;
    margin: 0 auto;
}
.snipcart-order__invoice-number {
    margin-top: 10.66667px;
    display: flex;
}
.snipcart-order__invoice-number--highlight {
    color: #52bcf8;
}
.snipcart-billing-completed__step-title {
    display: none;
}
.snipcart-billing-completed__header {
    margin-bottom: 24px;
}
.snipcart-billing-completed__slide-transition--enter-active {
    animation: fadeIn 0.3s;
}
.snipcart-billing-completed__slide-transition--enter-leave {
    animation: fadeIn 0.3s reverse;
}
.snipcart-billing-completed--titled .snipcart-billing-completed__step-title {
    display: block;
    margin-bottom: 16px;
}
.snipcart-billing-completed--titled .snipcart-billing-completed__step-icon {
    display: none;
}
.snipcart-payment-card-form iframe {
    border: none;
    width: 100%;
}
.snipcart-payment-card-form__error {
    margin-top: 24px;
}
.snipcart-payment-card-form__container {
    position: relative;
}
.snipcart-payment-card-authentication__container iframe {
    width: 100%;
    height: 0;
}
.snipcart-payment-card-authentication__container--visible iframe {
    height: 400px;
}
.snipcart-payment__header {
    margin-bottom: 16px;
}
.snipcart-payment__no-payment {
    margin-top: 12px;
    margin-bottom: 16px;
}
.snipcart-payment__form-container--loading,
.snipcart-payment__loading {
    min-height: 160px;
}
.snipcart-payment__form-container--loading * {
    visibility: hidden;
}
.snipcart-payment-completed__title {
    margin-bottom: 24px;
}
.snipcart-payment-completed__step-title {
    margin-bottom: 16px;
}
.snipcart-featured-payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 24px;
    flex-wrap: wrap;
    border-top: 1px solid #d9dfe0;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}
.snipcart-featured-payment-methods__title-icon {
    margin-right: 8px;
}
.snipcart-featured-payment-methods__list {
    display: flex;
}
.snipcart-featured-payment-methods__link {
    color: inherit;
    display: flex;
    align-items: center;
}
.snipcart-featured-payment-methods__link:hover {
    color: inherit;
}
.snipcart-featured-payment-methods__title {
    background-color: #F8F9FA;
    position: absolute;
    top: -10px;
    padding-left: 16px;
    padding-right: 16px;
}
.snipcart-featured-payment-methods__list-item {
    padding: 8px 16px;
    text-align: center;
}
.snipcart-featured-payment-methods--no-background {
    border: none;
    margin-top: 0;
    margin-top: 32px;
}
.snipcart-featured-payment-methods--no-background .snipcart-featured-payment-methods {
    border: none;
}
.snipcart-featured-payment-methods--no-background .snipcart-featured-payment-methods__title {
    background-color: transparent;
}
.snipcart-payment-methods-list__container {
    position: relative;
}
.snipcart-payment-methods-list-item {
    margin-top: 10.66667px;
}
.snipcart-payment-methods-list-item__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F8F9FA;
    padding: 16px;
    width: 100%;
    height: 64px;
    cursor: pointer;
}
.snipcart-payment-methods-list-item__label {
    text-align: left;
    display: flex;
    align-items: center;
}
.snipcart-payment-methods-list-item__icon {
    height: 32px;
    width: auto;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.snipcart-shipping-completed__step-title {
    display: none;
}
.snipcart-shipping-completed__header {
    margin-bottom: 24px;
}
.snipcart-shipping-completed--titled .snipcart-shipping-completed__step-title {
    display: block;
    margin-bottom: 16px;
}
.snipcart-shipping-completed--titled .snipcart-shipping-completed__step-icon {
    display: none;
}
.snipcart-shipping-address__header--readonly {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.snipcart-shipping-address__content {
    margin-bottom: 10.66667px;
}
.snipcart-shipping-address__subtitle {
    margin-top: 16px;
    margin-bottom: 8px;
}
.snipcart-shipping-address__address-field {
    margin-bottom: 24px;
}
.snipcart-shipping-rates-list-item {
    cursor: pointer;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;
    margin: 3.2px 0;
    padding: 16px;
    background-color: #fdfefe;
    border: 1px solid #F8F9FA;
}
.snipcart-shipping-rates-list-item:focus-within {
    border: 1px solid #52bcf8;
}
.snipcart-shipping-rates-list-item--right {
    white-space: nowrap;
    text-align: right;
}
.snipcart-shipping-rates-list-item--highlight {
    border: 1px solid #52bcf8;
}
.snipcart-cart-summary {
    background-color: #f8fafa;
}
@media only screen and (max-width: 600px) {
    .snipcart-cart-summary {
        height: 100vh;
        overflow-y: scroll;
    }
}
.snipcart-cart-summary__content {
    background-color: #fff;
    padding: 32px;
}
.snipcart-cart-summary__small {
    background-color: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin-top: 32px;
}
.snipcart-cart-summary__small-transition-enter-active {
    animation: slideDown 0.3s;
}
.snipcart-cart-summary__small-transition-leave-active {
    animation: slideDown 0.1s reverse;
}
.snipcart-cart-summary__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 254, 254, 0.7);
}
.snipcart-cart-summary__overlay-transition-enter-active {
    animation: fadeIn 0.3s;
}
.snipcart-cart-summary__overlay-transition-leave-active {
    animation: fadeIn 0.1s reverse;
}
.snipcart-cart-summary__items {
    list-style-type: none;
    margin: 0;
}
.snipcart-cart-summary__separator {
    width: calc(100% + 64px);
    margin-left: -32px;
    margin-right: -32px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 0;
    height: 1px;
    background: #F8F9FA;
}
.snipcart-cart-summary__actions {
    margin-bottom: 24px;
}
.snipcart-cart-summary--small {
    background-color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin-top: 16px;
}
.snipcart-cart-summary--edit.snipcart-modal__container {
    box-shadow: 0 8px 24px rgba(231, 235, 237, 0.6);
}
@media (min-width: 768px) {
    .snipcart-cart-summary--edit.snipcart-modal__container {
        width: 35%;
        max-width: 540px;
        margin-left: auto;
        right: 0;
    }
}
.snipcart-cart-summary--edit.snipcart-modal__container--tablet-up {
    width: 35%;
    max-width: 540px;
    margin-left: auto;
    right: 0;
}
.snipcart-cart-summary-fees {
    color: #313332;
}
.snipcart-cart-summary-fees__item {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3.2px 0;
    position: relative;
}
.snipcart-cart-summary-fees__item:not(:last-child) {
    margin-bottom: 8px;
}
.snipcart-cart-summary-fees__title {
    display: flex;
    align-items: center;
    margin: 0;
}
.snipcart-cart-summary-fees__amount {
    text-align: right;
}
.snipcart-cart-summary-fees__notice {
    margin-top: 24px;
}
.snipcart-cart-summary-fees__discounts-icon {
    margin-left: 8px;
}
.snipcart-cart-summary-fees__discount-container {
    display: flex;
}
.snipcart-cart-summary-fees__discount-container:not(:last-of-type) {
    margin-bottom: 8px;
}
.snipcart-cart-summary-fees__discount-name {
    white-space: nowrap;
}
.snipcart-cart-summary-fees__discount-amount-saved {
    margin-left: auto;
    padding-left: 16px;
}
.snipcart-cart-summary-fees__tax-notice {
    margin-left: 8px;
}
.snipcart-cart-summary-fees__tool-tip {
    margin-top: 28px;
}
.snipcart-cart-summary-fees--reverse {
    display: flex;
    flex-direction: column-reverse;
}
.snipcart-cart-summary-item {
    margin: 0 12px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60% 30px auto;
    color: #313332;
    padding: 3.2px 0;
}
.snipcart-cart-summary-item__quantity {
    white-space: nowrap;
    text-align: center;
}
.snipcart-cart-summary-item__price {
    text-align: right;
}
.snipcart-cart-summary-item__custom-fields {
    list-style: none;
    margin: 0;
    padding: 0;
}
.snipcart-cart-summary-item:not(:last-child) {
    margin-bottom: 8px;
}
.snipcart-cart-summary-items-list {
    height: auto;
    width: auto;
    max-height: 256px;
}
.snipcart-cart-summary-expanded-item {
    margin: 0;
    padding: 0;
    color: #313332;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    padding: 3.6px 0;
}
.snipcart-cart-summary-expanded-item__quantity {
    white-space: nowrap;
}
@media (min-width: 1024px) {
    .snipcart-cart-summary-expanded-item__price {
        text-align: right;
    }
}
.snipcart-cart-summary-expanded-item__price--large {
    text-align: right;
}
.snipcart-cart-summary-expanded-item__custom-fields {
    padding: 8px 0 8px 8px;
}
@media (min-width: 1024px) {
    .snipcart-cart-summary-expanded-item__custom-fields {
        padding: 8px 0;
    }
}
.snipcart-cart-summary-expanded-item__custom-fields--large {
    padding: 8px 0;
}
.snipcart-cart-summary-expanded-item--secondary {
    padding: 0 0 8px 8px;
}
.snipcart-cart-summary-expanded-item--secondary:last-child {
    padding-bottom: 0;
}
@media (min-width: 1024px) {
    .snipcart-cart-summary-expanded-item {
        display: grid;
        grid-template-columns: 70% 50px auto;
    }
}
.snipcart-cart-summary-expanded-item--large {
    display: grid;
    grid-template-columns: 70% 50px auto;
}
.snipcart-tool-tip {
    position: absolute;
    z-index: 99;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(80, 130, 228, 0.15);
    top: 0;
    left: 0;
}
.snipcart-tool-tip__container {
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    position: relative;
}
.snipcart-tool-tip--bordered .snipcart-tool-tip__container {
    border: 1px solid rgba(80, 130, 228, 0.1);
}
.snipcart-checkout-step {
    padding-bottom: 16px;
}
.snipcart-checkout-step__cols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 1024px) {
    .snipcart-checkout-step__cols {
        flex-direction: unset;
    }
}
.snipcart-checkout-step__cols--large {
    flex-direction: unset;
}
.snipcart-checkout-step__col {
    display: flex;
    align-items: center;
    width: 100%;
}
.snipcart-checkout-step__col:not(:last-child) {
    margin-bottom: 16px;
}
@media (min-width: 1024px) {
    .snipcart-checkout-step__col {
        width: 40%;
    }
    .snipcart-checkout-step__col:not(:last-child) {
        margin-bottom: 0;
    }
}
.snipcart-checkout-step__col--large {
    width: 40%;
}
.snipcart-checkout-step__col--large:not(:last-child) {
    margin-bottom: 0;
}
.snipcart-checkout-step__icon {
    width: 20px;
    margin-right: 5px;
    margin-top: 2px;
}
.snipcart-customer-details__line {
    display: flex;
    align-items: center;
    width: 100%;
}
.snipcart-customer-details__line:not(:last-child) {
    margin-bottom: 16px;
}
@media (min-width: 1024px) {
    .snipcart-customer-details__line {
        width: 60%;
    }
}
.snipcart-customer-details__line--large {
    width: 60%;
}
.snipcart-customer-details__icon {
    width: 20px;
    margin-right: 5px;
    margin-top: 2px;
}
.snipcart-customer-details__icon--spaced {
    margin-right: 22px;
}
.snipcart-customer-details__header {
    margin-bottom: 20px;
}
.snipcart-customer-details__subheader {
    margin-bottom: 16px;
}
.snipcart-order {
    width: 100%;
}
.snipcart-order__header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 24px;
}
.snipcart-order__header-title {
    margin-bottom: 8px;
}
.snipcart-order__link {
    text-align: right;
}
.snipcart-order__status--green {
    color: #6ae35c;
}
.snipcart-order__product {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7ebed;
    margin-bottom: 24px;
}
.snipcart-order__product:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.snipcart-order__product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.snipcart-order__product-details--row {
    display: flex;
}
.snipcart-order__product-image {
    width: 80px;
    height: 80px;
    margin-right: 24px;
    -o-object-fit: cover;
    object-fit: cover;
}
.snipcart-order__product-name {
    margin-bottom: 8px;
}
.snipcart-order__product-price,
.snipcart-order__product-quantity {
    margin-right: 24px;
}
.snipcart-subscription {
    width: 100%;
}
.snipcart-subscription__header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 24px;
}
.snipcart-subscription__header-title {
    margin-bottom: 8px;
}
.snipcart-subscription__link {
    text-align: right;
}
.snipcart-subscription__status--green {
    color: #6ae35c;
}
.snipcart-subscription__product {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7ebed;
    margin-bottom: 24px;
}
.snipcart-subscription__product:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.snipcart-subscription__product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.snipcart-subscription__product-details--row {
    display: flex;
}
.snipcart-subscription__product-image {
    width: 80px;
    height: 80px;
    margin-right: 24px;
    -o-object-fit: cover;
    object-fit: cover;
}
.snipcart-subscription__product-name {
    margin-bottom: 8px;
}
.snipcart-subscription__product-price,
.snipcart-subscription__product-quantity {
    margin-right: 24px;
}
.snipcart-orders__title {
    align-self: center;
}
.snipcart-dashboard__order {
    margin-bottom: 16px;
}
.snipcart-subscriptions__title {
    align-self: center;
}
.snipcart-dashboard__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}
@media (min-width: 768px) {
    .snipcart-dashboard__content {
        width: 560px;
        margin-left: 32px;
        margin-right: 32px;
    }
}
.snipcart-dashboard__content--tablet-up {
    width: 560px;
    margin-left: 32px;
    margin-right: 32px;
}
.snipcart-dashboard__notice {
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
.snipcart-dashboard__subscription,
.snipcart-dashboard__toggle {
    margin-bottom: 16px;
}
.snipcart-dashboard__containter {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
}
.snipcart-dashboard__customer-details {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}
@media (min-width: 768px) {
    .snipcart-dashboard__customer-details {
        width: 440px;
        margin-left: 32px;
        margin-right: 32px;
    }
}
.snipcart-dashboard__customer-details--tablet-up {
    width: 440px;
    margin-left: 32px;
    margin-right: 32px;
}
.snipcart-discount-box {
    background-color: #F8F9FA;
}
@media (min-width: 1024px) {
    .snipcart-discount-box {
        width: 100%;
        margin: 0;
    }
}
.snipcart-discount-box--large {
    width: 100%;
    margin: 0;
}
.snipcart-discount-box__success-icon {
    margin-left: 16px;
}
.snipcart-discount-box__button {
    cursor: pointer;
    box-sizing: border-box;
    padding: 16px 0;
    text-align: center;
    border: 1px solid #d9dfe0;
    width: 100%;
    background-color: transparent;
}
.snipcart-discount-box__button:focus {
    border: 1px solid #52bcf8;
}
.snipcart-discount-box__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #52bcf8;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
}
.snipcart-discount-box__form--success {
    display: flex;
    align-items: center;
    color: #313332;
    background-color: #fdfefe;
    line-height: normal;
    height: 52px;
    border: 1px solid #F8F9FA;
    border: 1px solid #62e253;
    justify-content: center;
}
.snipcart-discount-box__form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snipcart-discount-box__submit {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #52bcf8;
}
.snipcart-discount-box__submit:focus {
    outline: none;
}
.snipcart-discount-box__cancel {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #313332;
    margin-left: 8px;
}
.snipcart-cart--edit .snipcart-discount-box,
.snipcart-discount-box--white {
    background-color: #fff;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .snipcart-form__address-autocomplete .snipcart-typeahead__suggestions {
        position: absolute;
        background-color: #fff;
        height: unset;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__input {
        background-color: #fff;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestions {
        display: flex;
        flex-direction: column;
        padding-bottom: 50vh;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--highlight {
        display: block;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus .snipcart-typeahead___content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus .snipcart-typeahead__suggestions {
        position: relative;
        max-height: 100vh;
        height: 100vh;
        margin: 0;
    }
}
.snipcart__media-query--tablet .snipcart-form__address-autocomplete .snipcart-typeahead__suggestions {
    position: absolute;
    background-color: #fff;
    height: unset;
}
.snipcart__media-query--tablet .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__input {
    background-color: #fff;
}
.snipcart__media-query--tablet .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestions {
    display: flex;
    flex-direction: column;
    padding-bottom: 50vh;
}
.snipcart__media-query--tablet .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--highlight {
    display: block;
}
.snipcart__media-query--tablet .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.snipcart__media-query--tablet
    .snipcart-form__address-autocomplete
    .snipcart-typeahead__select--focus--active
    .snipcart__media-query--tablet
    .snipcart-form__address-autocomplete
    .snipcart-typeahead__select--focus
    .snipcart-typeahead___content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.snipcart__media-query--tablet
    .snipcart-form__address-autocomplete
    .snipcart-typeahead__select--focus--active
    .snipcart__media-query--tablet
    .snipcart-form__address-autocomplete
    .snipcart-typeahead__select--focus
    .snipcart-typeahead__suggestions {
    position: relative;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
}
@media (max-width: 768px) {
    .snipcart-form__address-autocomplete .snipcart-typeahead__suggestions {
        position: absolute;
        background-color: #fff;
        height: unset;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__input {
        background-color: #fff;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestions {
        display: flex;
        flex-direction: column;
        padding-bottom: 50vh;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--highlight {
        display: block;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus__suggestion--loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus .snipcart-typeahead___content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete .snipcart-typeahead__select--focus .snipcart-typeahead__suggestions {
        position: relative;
        max-height: 100vh;
        height: 100vh;
        margin: 0;
    }
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__suggestions {
    position: absolute;
    background-color: #fff;
    height: unset;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus__input {
    background-color: #fff;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus__suggestions {
    display: flex;
    flex-direction: column;
    padding-bottom: 50vh;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus__suggestion--highlight {
    display: block;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus__suggestion--loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus .snipcart-typeahead___content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus--active .snipcart-form__address-autocomplete--mobile .snipcart-typeahead__select--focus .snipcart-typeahead__suggestions {
    position: relative;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
}
.snipcart-form__address-autocomplete .snipcart-textbox {
    background-image: none;
}
.snipcart-form__address-autocomplete > .snipcart-textbox {
    height: auto;
    min-height: 52px;
}
.snipcart-form__address-autocomplete > .snipcart-typeahead__select {
    height: 0;
    opacity: 0;
}
.snipcart-form__address-autocomplete--active > .snipcart-typeahead__select {
    height: unset;
    opacity: 1;
}
.snipcart-form__address-autocomplete .snipcart-typeahead__suggestion--powered-by-google {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
}
.snipcart-checkbox {
    position: absolute;
    opacity: 0;
    transition: box-shadow 0.2s ease-in-out;
}
.snipcart-checkbox + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
}
.snipcart-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid #e0eaec;
    border-radius: 3px;
    background-color: #fdfefe;
}
.snipcart-checkbox:focus + label:before,
.snipcart-checkbox:hover + label:before {
    border: 1px solid #52bcf8;
}
.snipcart-checkbox:checked + label:before {
    border: 1px solid #52bcf8;
    background-color: #52bcf8;
    box-shadow: 0 2px 3px rgba(80, 130, 228, 0.3);
}
.snipcart-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    transform: rotate(45deg);
}
.snipcart-error-message {
    padding-top: 8px;
}
.snipcart-error-message__action {
    color: #52bcf8;
}
.snipcart-error-message--global-form {
    padding-top: 0;
    padding-bottom: 8px;
}
.snipcart-error-message .snipcart-error-message--input {
    padding-top: 0;
}
.snipcart-error-message--input {
    color: #d93120;
}
.snipcart-form {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(231, 235, 237, 0.6);
}
.snipcart-form__field {
    padding: 8px 0;
}
@media (min-width: 1024px) {
    .snipcart-form__field {
        position: relative;
    }
}
.snipcart-form__field--large {
    position: relative;
}
.snipcart-form__field-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 3.2px;
}
.snipcart-form__hidden-autofill:-webkit-autofill {
    background-color: #e8f0fe !important;
}
.snipcart-form__select {
    display: flex;
    align-items: center;
    color: #313332;
    line-height: normal;
    height: 52px;
    border: 1px solid #F8F9FA;
    width: 100%;
    padding: 16px;
    padding-right: 50px;
    background: url("../icons/hand-pointer-light.svg") no-repeat right 22px center;
    background-color: #fdfefe;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: unset;
}

.snipcart-form__select:-webkit-autofill {
    background-color: #e8f0fe !important;
}
.snipcart-form__select:focus {
    outline: none;
    border: 1px solid #52bcf8;
}
.snipcart-form__set {
    border: none;
    padding: 0;
}
.snipcart-form__footer {
    margin-top: 8px;
}
.snipcart-form__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.snipcart-form__cell--large {
    width: 100%;
    margin-right: 32px;
}
.snipcart-form__cell--large:last-child {
    margin-right: 0;
}
.snipcart-form__cell--tidy {
    width: 30%;
    margin-right: 32px;
}
.snipcart-form__cell--tidy:last-child {
    margin-right: 0;
}
.snipcart-form__cell--input-aligned {
    margin-bottom: 15px;
    margin-top: auto;
}
.snipcart-form__cell--1st-half {
    width: 50%;
    margin-right: 10.66667px;
}
.snipcart-form__cell--2nd-half {
    width: 50%;
}
.snipcart-form__separator {
    width: 100%;
    border: 0;
    height: 1px;
    background: #F8F9FA;
    margin-top: 16px;
    margin-bottom: 16px;
}
.snipcart-form__label {
    color: #313332;
    margin-bottom: 8px;
    display: inline-block;
    white-space: nowrap;
}
.snipcart-form__label--radio {
    margin-bottom: 0;
    white-space: nowrap;
}
.snipcart-form__label--checkbox {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .snipcart-form__label--mobile-only {
        display: none;
    }
}
.snipcart-form__label--mobile-only--large {
    display: none;
}
.snipcart-input {
    color: #313332;
    background-color: #fdfefe;
    line-height: normal;
    height: 52px;
    border: 1px solid #F8F9FA;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snipcart-input:focus-within {
    outline: none;
    border: 1px solid #52bcf8;
    box-shadow: 0 12px 24px 0 #eef6f9;
}
.snipcart-input--invalid {
    border: 1px solid #d93120;
}
.snipcart-input--icon .snipcart-input__input {
    padding-left: 44px;
}
.snipcart-input__input {
    flex: 1;
    outline: none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
.snipcart-input__input:-webkit-autofill {
    background-color: #e8f0fe !important;
}
.snipcart-input__left-icon {
    position: absolute;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snipcart-input--no-style {
    border: none;
    background-color: transparent;
}
.snipcart-input--no-style:focus-within {
    border: none;
    box-shadow: none;
}
.snipcart-input--no-style .snipcart-input__input {
    padding: 0;
}
.snipcart-input__visibility-toggle {
    display: none;
}
.snipcart-input--togleable .snipcart-input__input {
    padding-right: 64px;
}
.snipcart-input__show-label {
    cursor: pointer;
    position: absolute;
    right: 12px;
    margin-bottom: 0;
    color: #989ba3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 8px;
}
.snipcart-form-radio {
    position: absolute;
    opacity: 0;
}
.snipcart-form-radio__label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    white-space: normal;
}
.snipcart-form-radio + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    border-radius: 99px;
    width: 18px;
    min-width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #989ba3;
}
.snipcart-form-radio:checked + label:before {
  /*  background: linear-gradient(90deg, #5082e4, #52bcf8); */
	
    border: none;
}
.snipcart-form-radio:checked + label:after {
   /* content: url(/themes/v3.0.31/default/assets/icons/checkmark.svg); */
	content: url("../icons/check-regular.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 99;
    position: absolute;
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border: none;
}
.snipcart-textarea {
    padding: 8px;
}
.snipcart-typeahead {
    background-color: #e7ebed;
}
.snipcart-typeahead__input {
    cursor: pointer;
}
.snipcart-typeahead__label {
    display: block;
    margin: 0;
    padding: 3.2px 0;
}
.snipcart-typeahead__dropdown {
    background-color: #fdfefe;
}
.snipcart-typeahead__dropdown--no-focus {
    cursor: pointer;
}
.snipcart-typeahead--active {
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    display: flex;
    flex-direction: column;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
.snipcart-typeahead--active .snipcart-typeahead__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.snipcart-typeahead--invalid {
    border: 1px solid #d93120;
}
.snipcart-typeahead--autofilled,
.snipcart-typeahead--autofilled .snipcart-form__select {
    background-color: #e8f0fe;
}
.snipcart-textbox {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.snipcart-textbox--hidden {
    border: none;
    background-color: transparent;
    width: 100%;
}
.snipcart-textbox--hidden:focus {
    outline: none;
}
.snipcart-textbox--with-icon {
    padding-left: 8px;
}
.snipcart-textbox--focus {
    outline: none;
    border: 1px solid #52bcf8;
    box-shadow: 0 12px 24px 0 #eef6f9;
}
.snipcart-textbox--invalid {
    border: 1px solid #d93120;
}
.snipcart-textbox__icon {
    margin-right: 10.66667px;
}
.snipcart-modal__container {
    width: calc(100% + 1px);
    overflow-x: hidden;
    padding-right: 1px;
}
.snipcart-layout {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.snipcart-layout__header {
    height: 100px;
    min-height: 100px;
    max-width: 1440px;
}
@media (min-width: 768px) {
    .snipcart-layout__header {
        width: 80%;
        margin: 0 auto;
    }
}
.snipcart-layout__header--tablet-up {
    width: 80%;
    margin: 0 auto;
}
.snipcart-layout__content {
    height: 100%;
    max-width: 1440px;
}
@media (min-width: 768px) {
    .snipcart-layout__content {
        width: 80%;
        margin: 0 auto;
    }
}
.snipcart-layout__content--tablet-up {
    width: 80%;
    margin: 0 auto;
}
.snipcart-layout__content--side {
    min-height: 100%;
    width: 100%;
}
.snipcart-layout__footer {
    background-color: #F8F9FA;
}
.snipcart-layout__cols {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.snipcart-layout__col {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 1024px) {
    .snipcart-layout__col {
        width: 50%;
        margin: 0 16px;
    }
}
.snipcart-layout__col--large {
    width: 50%;
    margin: 0 16px;
    width: 100%;
}
@media (min-width: 1024px) {
    .snipcart-layout__col--large {
        width: 70%;
    }
}
.snipcart-layout__col--large--large {
    width: 70%;
}
.snipcart-layout--large {
    left: 0;
}
.snipcart-layout--no-scroll {
    overflow: hidden;
}
@media (min-width: 1024px) {
    .snipcart-layout--no-scroll {
        overflow: auto;
    }
}
.snipcart-layout--no-scroll--large {
    overflow: auto;
}
.snipcart-layout--not-visible {
    display: none;
}
.snipcart-order__payment-instructions {
    padding-top: 16px;
}
.snipcart-cart-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 32px;
}
.snipcart-cart-button__icon {
    min-width: 16px;
    flex: 1;
}
.snipcart-cart-button__icon--right {
    margin-left: 8px;
}
.snipcart-cart-button__icon--left {
    margin-right: 8px;
}
.snipcart-cart-button--fit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.snipcart-cart-button--highlight {
   /* background-image: linear-gradient(90deg, #5082e4, #52bcf8); */
	background-color: #000000;
	
}
.snipcart-cart-button--highlight .snipcart__icon path {
    fill: #fff;
}
.snipcart-cart-button--highlight:focus {
    box-shadow: 2px 2px 6px rgba(80, 130, 228, 0.3);
}
.snipcart-cart-button--disabled {
    opacity: 0.7;
}
.snipcart-cart-button--disabled,
.snipcart-cart-button--loading {
    cursor: default;
  /*  background-image: linear-gradient(90deg, #72a0f0, #37cbfe); */
	background-color: #000000;
}
.snipcart-cart-button--secondary {
    color: #989ba3;
    background-color: #e7ebed;
}
.snipcart-cart-button--secondary .snipcart__icon path {
    fill: #989ba3;
}
.snipcart-cart-button--secondary:focus {
    box-shadow: 2px 2px 6px rgba(152, 155, 163, 0.3);
}
.snipcart-cart-button:focus {
    outline: none;
    border: none;
}
.snipcart-card-icon {
    position: relative;
    margin-right: 8px;
    border: 1.25px solid #989ba3;
    border-radius: 3px;
    width: 32px;
    height: 22.85714px;
}
.snipcart-card-icon svg {
    width: 100%;
    max-width: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.snipcart__loading__screen .snipcart__icon {
    width: 42px;
    height: 42px;
    animation: spin 0.7s linear 0s infinite;
}
.snipcart__loading__screen__content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.snipcart__loading__screen__content__message {
    padding: 32px;
}
.snipcart-loading-overlay {
    position: relative;
}
.snipcart-loading-overlay__pending {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 150;
}
.snipcart-loading-overlay__pending .snipcart__icon {
    animation: spin 0.7s linear 0s infinite;
}
.snipcart-loading-overlay__pending-message {
    padding: 32px;
}
.snipcart-loading-overlay__content {
    z-index: 149;
}
.snipcart-loading-overlay__content--loading {
    opacity: 0.5;
}
.snipcart-loading-overlay__content--loading-opaque {
    opacity: 0;
}
.snipcart-flash-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
}
.snipcart-flash-message--error {
    background-color: rgba(217, 49, 32, 0.05);
}
.snipcart-flash-message--success {
    background-color: rgba(106, 227, 92, 0.15);
}
.snipcart-flash-message--info {
    background-color: rgba(82, 188, 248, 0.1);
}
.snipcart-flash-message:not(:first-of-type) {
    margin-top: 8px;
}
.snipcart-flash-message__icon {
    display: none;
    min-width: 32px;
    height: auto;
    margin-bottom: auto;
    margin-right: 16px;
}
@media (min-width: 768px) {
    .snipcart-flash-message__icon {
        display: block;
    }
}
.snipcart-flash-message__icon--tablet-up {
    display: block;
}
.snipcart-flash-message__action {
    cursor: pointer;
    color: #5082e4;
}
.snipcart-flash-message__action:last-of-type {
    margin-left: 16px;
}
.snipcart-flash-message__action-container {
    display: flex;
    margin-top: 16px;
}
.snipcart-flash-message__content a {
    display: inline;
}
.snipcart-flash-message__description:not(:first-child) {
    margin-top: 8px;
}
.snipcart-toggle {
    display: flex;
    width: 100%;
    border: 1.5px solid #e7ebed;
    border-radius: 4px;
    position: relative;
}
.snipcart-toggle__slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.2s;
    transform: translateX(0);
    border-radius: 3px;
    z-index: 98;
}
.snipcart-toggle-tab {
    cursor: pointer;
}
.snipcart-toggle__option {
    flex: 1 1 0;
    text-align: center;
    color: #989ba3;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.snipcart-toggle__option--selected {
    color: #313332;
}
.snipcart-cart-summary-side {
    height: 100%;
    overflow: hidden;
}
.snipcart-cart-summary-side .snipcart-cart__secondary-header {
    padding: 0 32px;
}
.snipcart-cart-summary-side .snipcart-cart__content {
    overflow: hidden;
    flex-grow: 1;
}
.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line {
    padding: 0;
    margin: 0;
}
.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line .snipcart-item-line__container {
    padding: 32px;
}
.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line:last-child .snipcart-item-line__container {
    margin: 0;
}
.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-discount-box {
    width: 100%;
    margin-bottom: 0;
}
.snipcart-cart-summary-side .snipcart-cart__footer {
    padding: 32px 32px 0 32px;
}
.snipcart-cart-summary-side .snipcart-cart__footer .snipcart__actions--link {
    margin-top: 8px;
    text-align: center;
}
@keyframes slideIn {
    0% {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes slideDown {
    0% {
        height: 0;
    }
    to {
        height: 100vh;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.35);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.snipcart-transition--slide-in-enter-active {
    animation: slideIn 0.5s;
}
.snipcart-transition--slide-in-leave-active {
    animation: slideIn 0.3s reverse;
}
.snipcart-transition--popup-enter-active {
    animation: popUp 0.2s;
}
.snipcart-transition--popup-leave-active {
    animation: popUp 0.2s reverse;
}
.snipcart-cart--opened {
    overflow: hidden;
}
.snipcart-sidecart--opened::-webkit-scrollbar {
    width: 0;
}
