.btn-outline-secondary:hover {
    color: #000;
    background-color: #6D757D;
    border-color: #6D757D;
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(178, 60, 253, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(178, 60, 253, 0.5);
}
.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
    color: #000;
    background-color: #6D757D;
    border-color: #6D757D;
}
.btn-check:active + .btn-outline-secondary:focus,
.btn-check:checked + .btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(178, 60, 253, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(178, 60, 253, 0.5);
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    background-color: transparent;
}
.btn-outline-secondary {
    color: #6D757D;
    border-color: #6D757D;
}
.btn-outline-secondary:hover {
    color: #6D757D;
    background-color: rgba(0, 0, 0, 0.02);
}
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary.focus,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    color: #6D757D;
    background-color: transparent;
}
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #6D757D;
}






.skewed-bg{
  transform: skewY(-3deg);
  margin-top: 100px;  
}

.skewed-bg .container{
  transform: skewY(3deg);
}


#wave {
  position: relative;
  height: 70px;
  width: 100%;
  background: #e0efe3;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}



.accordion-button:not(.collapsed) {
  background-color: #fffbf2;
	color: #000000;
}

.rounded-4 {
	border-radius:.75rem !important
}

.bg-gold {
	background-color: #F6C24E;

}

.text-gold {
	color: #F6C24E;
}

.border-gold {
	border-color: #F6C24E!important;


}

.bg-gold-50{ 
	background-color: rgba(246, 194, 78, .15);
}

.bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{

	font-weight: 700;
}

.h1, h1 {
	    font-size:3rem;
}

.bg-img-hero-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center
}


.w-25 {
    width:25% !important
}

.w-50 {
    width:50% !important
}

.w-75 {
    width:75% !important
}

.w-100 {
    width:100% !important
}

.w-auto {
    width:auto !important
}

.w-15 {
    width:15% !important
}

.w-20 {
    width:20% !important
}

.w-30 {
    width:30% !important
}

.w-35 {
    width:35% !important
}

.w-40 {
    width:40% !important
}

.w-60 {
    width:60% !important
}

.w-65 {
    width:65% !important
}

.w-80 {
    width:80% !important
}

.w-85 {
    width:85% !important
}

.w-90 {
    width:90% !important
}

@media (min-width: 576px) {
    .w-sm-25 {
        width:25% !important
    }

    .w-sm-50 {
        width:50% !important
    }

    .w-sm-75 {
        width:75% !important
    }

    .w-sm-100 {
        width:100% !important
    }

    .w-sm-auto {
        width:auto !important
    }

    .w-sm-15 {
        width:15% !important
    }

    .w-sm-20 {
        width:20% !important
    }

    .w-sm-30 {
        width:30% !important
    }

    .w-sm-35 {
        width:35% !important
    }

    .w-sm-40 {
        width:40% !important
    }

    .w-sm-60 {
        width:60% !important
    }

    .w-sm-65 {
        width:65% !important
    }

    .w-sm-80 {
        width:80% !important
    }

    .w-sm-85 {
        width:85% !important
    }

    .w-sm-90 {
        width:90% !important
    }
}

@media (min-width: 768px) {
    .w-md-25 {
        width:25% !important
    }

    .w-md-50 {
        width:50% !important
    }

    .w-md-75 {
        width:75% !important
    }

    .w-md-100 {
        width:100% !important
    }

    .w-md-auto {
        width:auto !important
    }

    .w-md-15 {
        width:15% !important
    }

    .w-md-20 {
        width:20% !important
    }

    .w-md-30 {
        width:30% !important
    }

    .w-md-35 {
        width:35% !important
    }

    .w-md-40 {
        width:40% !important
    }

    .w-md-60 {
        width:60% !important
    }

    .w-md-65 {
        width:65% !important
    }

    .w-md-80 {
        width:80% !important
    }

    .w-md-85 {
        width:85% !important
    }

    .w-md-90 {
        width:90% !important
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width:25% !important
    }

    .w-lg-50 {
        width:50% !important
    }

    .w-lg-75 {
        width:75% !important
    }

    .w-lg-100 {
        width:100% !important
    }

    .w-lg-auto {
        width:auto !important
    }

    .w-lg-15 {
        width:15% !important
    }

    .w-lg-20 {
        width:20% !important
    }

    .w-lg-30 {
        width:30% !important
    }

    .w-lg-35 {
        width:35% !important
    }

    .w-lg-40 {
        width:40% !important
    }

    .w-lg-60 {
        width:60% !important
    }

    .w-lg-65 {
        width:65% !important
    }

    .w-lg-80 {
        width:80% !important
    }

    .w-lg-85 {
        width:85% !important
    }

    .w-lg-90 {
        width:90% !important
    }
}

@media (min-width: 1200px) {
    .w-xl-25 {
        width:25% !important
    }

    .w-xl-50 {
        width:50% !important
    }

    .w-xl-75 {
        width:75% !important
    }

    .w-xl-100 {
        width:100% !important
    }

    .w-xl-auto {
        width:auto !important
    }

    .w-xl-15 {
        width:15% !important
    }

    .w-xl-20 {
        width:20% !important
    }

    .w-xl-30 {
        width:30% !important
    }

    .w-xl-35 {
        width:35% !important
    }

    .w-xl-40 {
        width:40% !important
    }

    .w-xl-60 {
        width:60% !important
    }

    .w-xl-65 {
        width:65% !important
    }

    .w-xl-80 {
        width:80% !important
    }

    .w-xl-85 {
        width:85% !important
    }

    .w-xl-90 {
        width:90% !important
    }
}

.space-0, .space-top-0 {
    padding-top:0 !important
}

.space-0, .space-bottom-0 {
    padding-bottom:0 !important
}

.space-1, .space-top-1 {
    padding-top:2rem !important
}

.space-1, .space-bottom-1 {
    padding-bottom:2rem !important
}

.space-2, .space-top-2 {
    padding-top:4rem !important
}

.space-2, .space-bottom-2 {
    padding-bottom:4rem !important
}

.space-3, .space-top-3 {
    padding-top:8rem !important
}

.space-3, .space-bottom-3 {
    padding-bottom:8rem !important
}

.space-4, .space-top-4 {
    padding-top:12.5rem !important
}

.space-4, .space-bottom-4 {
    padding-bottom:12.5rem !important
}

.space-5, .space-top-5 {
    padding-top:15rem !important
}

.space-5, .space-bottom-5 {
    padding-bottom:15rem !important
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: .75rem;
  overflow: hidden;
}


@media (min-width: 576px) {
    .space-sm-0, .space-top-sm-0 {
        padding-top:0 !important
    }

    .space-bottom-sm-0, .space-sm-0 {
        padding-bottom:0 !important
    }

    .space-sm-1, .space-top-sm-1 {
        padding-top:2rem !important
    }

    .space-bottom-sm-1, .space-sm-1 {
        padding-bottom:2rem !important
    }

    .space-sm-2, .space-top-sm-2 {
        padding-top:4rem !important
    }

    .space-bottom-sm-2, .space-sm-2 {
        padding-bottom:4rem !important
    }

    .space-sm-3, .space-top-sm-3 {
        padding-top:8rem !important
    }

    .space-bottom-sm-3, .space-sm-3 {
        padding-bottom:8rem !important
    }

    .space-sm-4, .space-top-sm-4 {
        padding-top:12.5rem !important
    }

    .space-bottom-sm-4, .space-sm-4 {
        padding-bottom:12.5rem !important
    }

    .space-sm-5, .space-top-sm-5 {
        padding-top:15rem !important
    }

    .space-bottom-sm-5, .space-sm-5 {
        padding-bottom:15rem !important
    }
}

@media (min-width: 768px) {
    .space-md-0, .space-top-md-0 {
        padding-top:0 !important
    }

    .space-bottom-md-0, .space-md-0 {
        padding-bottom:0 !important
    }

    .space-md-1, .space-top-md-1 {
        padding-top:2rem !important
    }

    .space-bottom-md-1, .space-md-1 {
        padding-bottom:2rem !important
    }

    .space-md-2, .space-top-md-2 {
        padding-top:4rem !important
    }

    .space-bottom-md-2, .space-md-2 {
        padding-bottom:4rem !important
    }

    .space-md-3, .space-top-md-3 {
        padding-top:8rem !important
    }

    .space-bottom-md-3, .space-md-3 {
        padding-bottom:8rem !important
    }

    .space-md-4, .space-top-md-4 {
        padding-top:12.5rem !important
    }

    .space-bottom-md-4, .space-md-4 {
        padding-bottom:12.5rem !important
    }

    .space-md-5, .space-top-md-5 {
        padding-top:15rem !important
    }

    .space-bottom-md-5, .space-md-5 {
        padding-bottom:15rem !important
    }
}

@media (min-width: 992px) {
    .space-lg-0, .space-top-lg-0 {
        padding-top:0 !important
    }

    .space-bottom-lg-0, .space-lg-0 {
        padding-bottom:0 !important
    }

    .space-lg-1, .space-top-lg-1 {
        padding-top:2rem !important
    }

    .space-bottom-lg-1, .space-lg-1 {
        padding-bottom:2rem !important
    }

    .space-lg-2, .space-top-lg-2 {
        padding-top:4rem !important
    }

    .space-bottom-lg-2, .space-lg-2 {
        padding-bottom:4rem !important
    }

    .space-lg-3, .space-top-lg-3 {
        padding-top:8rem !important
    }

    .space-bottom-lg-3, .space-lg-3 {
        padding-bottom:8rem !important
    }

    .space-lg-4, .space-top-lg-4 {
        padding-top:12.5rem !important
    }

    .space-bottom-lg-4, .space-lg-4 {
        padding-bottom:12.5rem !important
    }

    .space-lg-5, .space-top-lg-5 {
        padding-top:15rem !important
    }

    .space-bottom-lg-5, .space-lg-5 {
        padding-bottom:15rem !important
    }
}

@media (min-width: 1200px) {
    .space-top-xl-0, .space-xl-0 {
        padding-top:0 !important
    }

    .space-bottom-xl-0, .space-xl-0 {
        padding-bottom:0 !important
    }

    .space-top-xl-1, .space-xl-1 {
        padding-top:2rem !important
    }

    .space-bottom-xl-1, .space-xl-1 {
        padding-bottom:2rem !important
    }

    .space-top-xl-2, .space-xl-2 {
        padding-top:4rem !important
    }

    .space-bottom-xl-2, .space-xl-2 {
        padding-bottom:4rem !important
    }

    .space-top-xl-3, .space-xl-3 {
        padding-top:8rem !important
    }

    .space-bottom-xl-3, .space-xl-3 {
        padding-bottom:8rem !important
    }

    .space-top-xl-4, .space-xl-4 {
        padding-top:12.5rem !important
    }

    .space-bottom-xl-4, .space-xl-4 {
        padding-bottom:12.5rem !important
    }

    .space-top-xl-5, .space-xl-5 {
        padding-top:15rem !important
    }

    .space-bottom-xl-5, .space-xl-5 {
        padding-bottom:15rem !important
    }
}