{{ define "main" }}




<!-- Hero Section -->
<div class="container py-5">

  <div class="row"> 
    
    <!-- product image slider -->
    <div class="col-lg-7 mb-s ms-lg-0"><img class="img-fluid" src="{{ .Params.image }}"> </div>
    <!-- end product image slider --> 
    
    <!-- Product Description -->
    <div class="col-lg-5"> 
      
      <!-- Title --> 
      <h1>{{ .Params.title}}</h1>
      <!-- End Title --> 
    {{ .Content }}
          <!-- Price --> 
<p class="text-dark font-weight-bold">Price: <span class="text-muted font-weight-normal">£{{ .Params.price }}</span> <span class="text-body ms-2 d-none">per item</span></p>
      <!-- End Price --> 

       <!-- Quantity --> 
      {{- partial "product-info-quantity-selector.html" . -}} 
      <!-- End Quantity -->
        <div id="mainAddToCartButton" class="d-grid mb-4">
        <button 
        id="gift-card"
        class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3" type="button"
        data-item-id="{{ .Params.product_id }}"
        data-item-price="{{ .Params.price }}"
        data-item-url="{{ .Permalink }}"
        data-item-description="{{ .Params.title }}"
        data-item-image="{{ .Params.image }}"
        data-item-name="{{ .Params.title }}">
        Add to cart
        </button>
  </div>

 
	


      
  
   

      <!-- Help Link --> 
      {{- partial "product-help-link.html" . -}} 
      <!-- End Help Link --> 

      
    </div>
    <!-- End Product Description --> 
    
  </div>
</div>
<!-- End Hero Section --> 

{{ end }}