{{ define "main" }}




<!-- Hero Section -->
<div class="container py-5">

  <div class="row"> 
    
    <!-- product image slider -->
    <div class="col-lg-7 mb-s ms-lg-0"><img class="img-fluid" src="{{ .Params.image }}"> </div>
    <!-- end product image slider --> 
    
    <!-- Product Description -->
    <div class="col-lg-5"> 
      
      <!-- Title --> 
      <h1>{{ .Params.title}}</h1>
      <!-- End Title --> 
    {{ .Content }}
          <!-- Price --> 
<p class="text-dark font-weight-bold">Prices from: <span class="text-muted font-weight-normal">£{{ .Params.price }}</span> <span class="text-body ms-2 d-none">per item</span></p>
      <!-- End Price --> 

<p><label class="text-dark font-weight-bold form-label">Select an Amount</label><br>
<select class="form-control" id="experience">
{{ if .Params.select1_value }}<option value="{{ .Params.select1_value }}">{{ .Params.select1_text }}</option>{{ end }} 
{{ if .Params.select2_value }}<option value="{{ .Params.select2_value }}">{{ .Params.select2_text }}</option>{{ end }}
{{ if .Params.select3_value }}<option value="{{ .Params.select3_value }}">{{ .Params.select3_text }}</option>{{ end }}
{{ if .Params.select4_value }}<option value="{{ .Params.select4_value }}">{{ .Params.select4_text }}</option>{{ end }}
{{ if .Params.select5_value }}<option value="{{ .Params.select5_value }}">{{ .Params.select5_text }}</option>{{ end }}
{{ if .Params.select6_value }}<option value="{{ .Params.select6_value }}">{{ .Params.select6_text }}</option>{{ end }}
{{ if .Params.select7_value }}<option value="{{ .Params.select7_value }}">{{ .Params.select7_text }}</option>{{ end }}
{{ if .Params.select8_value }}<option value="{{ .Params.select8_value }}">{{ .Params.select8_text }}</option>{{ end }}
{{ if .Params.select9_value }}<option value="{{ .Params.select9_value }}">{{ .Params.select9_text }}</option>{{ end }}
{{ if .Params.select10_value }}<option value="{{ .Params.select10_value }}">{{ .Params.select10_text }}</option>{{ end }}
{{ if .Params.select11_value }}<option value="{{ .Params.select11_value }}">{{ .Params.select11_text }}</option>{{ end }}
</select>
</p>
{{ range .Params.ingredients }}
<li>
{{ . }}
</li>
{{ end }}
       <!-- Quantity --> 
      {{- partial "product-info-quantity-selector.html" . -}} 
      <!-- End Quantity -->
        <div id="mainAddToCartButton" class="d-grid mb-4">
        <button 
        id="gift-card-with-select"
        class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3" type="button"
        data-item-id="{{ .Params.product_id }}"
        data-item-price="{{ .Params.price }}"
        data-item-description="{{ .Params.title }}"
        data-item-image="{{ .Params.image }}"
        data-item-name="{{ .Params.title }} - {{ .Params.size }}"
        data-item-custom1-name="Experience"
        data-item-custom1-options="{{ .Params.price_variables }}">
        Add to cart
        </button>
  </div>

  <script>
      const button = document.querySelector('#gift-card-with-select')
      const select = document.querySelector('#experience')
select.addEventListener('change', () => {
  // Sets the default frame color when adding the item
  button.setAttribute("data-item-custom1-value", select.value)
})
    </script>
	


      
  
   

      <!-- Help Link --> 
      {{- partial "product-help-link.html" . -}} 
      <!-- End Help Link --> 

      
    </div>
    <!-- End Product Description --> 
    
  </div>
</div>
<!-- End Hero Section --> 

{{ end }}