{{ define "main" }}
   <!-- Hero Section -->
<div class="container pt-4">
 <!-- Title -->
<div class="w-lg-65 mx-lg-auto text-center">
        <h1 class="text-uppercase font-weight-bold">{{ .Params.heading }}</h1>
		  <p class="lead pb-4">{{ .Params.subHeading }}</p>

      <!-- End Title -->


 <!-- Divider -->


        <hr>
      </div>
    </div>
 <!-- end Divider -->
<div class="container">
		<div class="col-md-10 col-lg-11 mx-auto mb-5">
	{{ .Content }}
	</div>
	</div>

</div>
{{ end }}


