{{ define "main" }}




<!-- Hero Section -->
<div class="container py-5">

  <div class="row"> 
    
    <!-- product image slider -->
    <div class="col-lg-7 mb-s ms-lg-0"><img class="img-fluid" src="{{ .Params.image }}"> </div>
    <!-- end product image slider --> 
    
    <!-- Product Description -->
    <div class="col-lg-5"> 
      
      <!-- Title --> 
      <h1>{{ .Params.title}}</h1>
      <!-- End Title --> 
    {{ .Content }}
          <!-- Price --> 
<p class="text-dark font-weight-bold">Price: <span class="text-muted font-weight-normal">£{{ .Params.price }}</span> <span class="text-body ms-2 d-none">per item</span></p>
      <!-- End Price --> 


<p><label class="text-dark font-weight-bold form-label">Add your Formulation Code Here</label><br>
        <input class="form-control" id="formulation-code" class="border" type="text"></p>

<p><label class="text-dark font-weight-bold form-label">Size</label><br>
<select class="form-control" id="size">
  <option value="15ml">15ml (£120.00)</option>
  <option value="50ml">50ml (£150.00)</option>
  <option value="100ml">100ml (£170.00)</option>
</select>
</p>
       <!-- Quantity --> 
      {{- partial "product-info-quantity-selector.html" . -}} 
      <!-- End Quantity -->
        <div id="mainAddToCartButton" class="d-grid mb-4">
        <button 
        id="formulation-id"
        class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3" type="button"
        data-item-id="{{ .Params.product_id }}"
        data-item-price="{{ .Params.price }}"
        data-item-description="{{ .Params.title }}"
        data-item-image="{{ .Params.image }}"
        data-item-name="{{ .Params.title }} - {{ .Params.size }}"
        data-item-quantity="1"
        data-item-custom1-name="Formulation code"
        data-item-custom2-name="Size"
        data-item-custom2-options="15ml[+00.00]|50ml[+30.00]|100ml[+50.00]">
        Add to cart
        </button>
  </div>

  <script>
      const button = document.querySelector('#formulation-id')
      const freetext = document.querySelector('#formulation-code')
      freetext.addEventListener('change', () => {
      // Sets the default frame color when adding the item
      button.setAttribute("data-item-custom1-value", freetext.value)
    })
      const select = document.querySelector('#size')
select.addEventListener('change', () => {
  // Sets the default frame color when adding the item
  button.setAttribute("data-item-custom2-value", select.value)
})
    </script>
	


      
  
   

      <!-- Help Link --> 
      {{- partial "product-help-link.html" . -}} 
      <!-- End Help Link --> 

      
    </div>
    <!-- End Product Description --> 
    
  </div>
</div>
<!-- End Hero Section --> 

{{ end }}