{{ define "main" }}

{{ range where .Site.Data.productlist "id" .Params.Product_id }} 

<!-- Hero Section -->
<div class="container py-5">

	
  <div class="row-col"> {{- partial "product-breadcrumb-nav.html" . -}} </div>
  <div class="row"> 
    
    <!-- product image slider -->
    <div class="col-lg-7 mb-s ms-lg-0"> {{- partial "product-image-slider.html" . -}} </div>
    <!-- end product image slider --> 
    
    <!-- Product Description -->
    <div class="col-lg-5"> 
      
      <!-- Title --> 
      {{- partial "product-info-title.html" . -}} 
      <!-- End Title --> 
    
      <!-- Price --> 
      {{- partial "product-info-price.html" . -}} 
      <!-- End Price --> 
      
       <!-- Size--> 
      {{- partial "product-info-size.html" . -}} 
      <!-- End Size --> 
      
      <!-- Accordion --> 
       <ul class="list-group mb-3">       
{{ if $.Param "accordion" }}
{{ range $.Param "accordion" }}

<li class="list-group-item"><i class="{{ .icon }} fa-lg fa-fw  me-3"></i>{{ .title }}</li>
      {{ end }}
      {{ end }}
    </ul>
      <!-- End Accordion --> 
      <!-- Quantity --> 
      {{- partial "product-info-quantity-selector.html" . -}} 
      <!-- End Quantity -->       
      <!-- product add to cart button --> 
      {{- partial "product-add-to-cart-button.html" . -}} 
      <!-- end product add to cart button --> 
      
      <!-- Help Link --> 
      {{- partial "product-help-link.html" . -}} 
      <!-- End Help Link --> 
      
    </div>
    <!-- End Product Description --> 
    
  </div>
</div>
<!-- End Hero Section --> 

<!-- Product Description Section -->
<div id="" class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-lg-4">
        <h4>Details</h4>
        <p class="text-muted">{{ .long_description }}</p>
      </div>
    </div>
    <div class="col-md-6 mb-5 mb-md-0">
      <h4>Material and info</h4>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-sm-article text-body mb-0">
			  {{ if .list }}
			  {{ range first 4 .list }}
			  <li>{{ . }}</li>
			  {{ end }}
			  {{ end }}
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list-sm-article text-body mb-0">
          {{ if .list }}
			  {{ range after 4 .list }}
			  <li>{{ . }}</li>
			  {{ end }}
			  {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
<!-- End Product Description Section --> 

<!-- Product more info Section -->
{{- partial "product-more-info-section.html" . -}} 
<!-- Product more info Section -->


{{ range where .Site.Data.productlist "id" .Params.Product_id }} 
 <div id="bottomCart" class=" w-100 pt-3 pb-3 bg-white fixed-bottom border-top d-none">
	 <div class="container-lg">

			 <!-- Quantity --> 
      <div class="py-2 px-3 mb-3">
	<div class="d-flex align-items-center flex-wrap">
		<div class="text-center text-sm-start flex-fill flex-md-grow-1">
			<h5>{{ .name }}</h5>
			<small class="d-none"><i class="fal fa-shipping-fast fa-lg fa-fx me-1"></i> Free shipping on orders over £50.00</small>
			<small>{{ .size }} | £{{ .price }}</small>
		</div>
		<div class="d-none d-lg-block ms-auto">
			<small class="d-block text-body font-weight-bold">Select quantity</small>
			<input class="product-qty-input js-result form-control h-auto border-0 rounded-lg p-0 w-50" type="text" value="1" width="5">
		</div>
		<div class="d-none d-lg-block me-3">
			<a class="js-minus btn btn-xs btn-icon btn-outline-secondary rounded-circle" href="javascript:;">
				<i class="fas fa-minus"></i>
			</a>
			<a class="js-plus btn btn-xs btn-icon btn-outline-secondary rounded-circle" href="javascript:;">
				<i class="fas fa-plus"></i>
			</a>
		</div>
		<div class="mx-auto ms-lg-auto flex-fill flex-md-grow-0 mt-2 mt-md-0">
		<button type="button" class="snipcart-add-item btn btn-lg  btn-block rounded-pill btn-dark  w-100 px-md-5"
				data-item-id="{{ .id }}"
				data-item-price="{{ .price }}"
				data-item-url="/paintings/starry-night"
				data-item-description="{{ .short_description }}"
				data-item-image="{{ .image }}"
				data-item-name="{{ .name }} - {{ .size }}">
			Add to Cart</button>
			</div>

      <!-- End Quantity --> 
				
			 </div>
			 
		 </div>
	 </div>
    
  </div>

{{- partial "how-to-room-mists.html" . -}} 
{{ end }}


{{ end }}
