

{{ define "main" }}
	<div class="container py-3">

<div class="text-center mx-md-auto">
        <h1 class="text-capitalize font-weight-bold">{{ .Title }}</h1>
      </div>
      <div class="row">
{{ range .Data.Pages }}	      
{{ range where .Site.Data.productlist "id" .Params.Product_id }} 
<div class="col-md-4 mb-5 text-center" >
<a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/">
    <img class="card-img-top" src="/images/products/{{.cat_url}}/{{.image}}" alt="{{ .name }}">
  </a>

  <div class="px-4">
      <p class="mb-0"> <a class="text-inherit text-decoration-none" href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/">{{ .name }}</a> </p>
      <p class="font-size-1 my-0">{{ .type }}</p>
        <p class="text-dark font-weight-bold">£{{ .price }}</p> 
 
<p><a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/" class="text-decoration-none text-inherit">View Details</a></p>
	  

   {{- partial "add-to-cart-button-small.html" . -}} 
	          {{ end }}
	</div>
</div>
	      {{ end }}


</div>
{{ end }}


