{{ define "main" }}
<div class="container">
	<div class="row space-2">
		<div class="col-lg-6">
			
			<img src="{{ .Params.Feature_image }}" class="img-fluid" alt="">
			
		</div>
	  <div class="col-lg-6  py-5">
		  <h1 class="text-uppercase font-weight-bold"> {{ .Params.heading }}</h1>
		  <p class="lead">{{ .Params.Description }}</p>
	    {{ .Content }}
	  </div>
	</div>
	

</div>
{{ end }}