<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
       
			
			<div class="container">
				<div class="row my-5">
					<div class="col-xl-10 mx-auto">
						<h1 class="text-uppercase">Privacy Policy</h1>
						
						<p class="lead">Thank you for visiting the humos.co.uk website at www.humos.co.uk (the “Site”) and/or using our ‘HUMOS’ application for mobile and non-mobile devices (the “Application”).</p>
						<p class="lead">By using this Site and/or registering with us, you are agreeing to the terms of this Privacy Policy. If you have any queries regarding this policy or complaints about our use of your information please contact us at support@humos.co.uk and we will do our best to deal with your complaint or query as soon as possible.</p>
						
						<h5 class="text-uppercase">Your Rights</h5>
						<p>You have certain rights in relation to your personal data.Under certain circumstances, by law you have the right to:
						<ul class="">
							<li class="fs-5"> Object to processing of your personal information where we are relying on a legitimate interest (or that of a third party) and there is something about your particular situation which makes you want to object to processing on this ground. You also have the right to object where we are processing your personal information for direct marketing purposes.</li>
							<li class="fs-5"> Request access to your personal information (commonly known as a &#8220;data subject access request&#8221;). This enables you to receive a copy of the personal information we hold about you and to check that we are processing it lawfully.</li>
							<li class="fs-5"> Request correction of the personal information that we hold about you. This enables you to have any incomplete or inaccurate information we hold about you corrected.</li>
							<li class="fs-5"> Request erasure of your personal information. This enables you to ask us to delete or remove personal information where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your personal information where you have exercised your right to object to processing (see above).</li>
							<li class="fs-5"> Request the restriction of processing of your personal information. This enables you to ask us to suspend the processing of personal information about you, for example if you want us to establish its accuracy or the reason for processing it.</li>
							<li class="fs-5"> Request the transfer of your personal information to another party in a machine-readable, commonly used and structured format.</li>
						</ul>
						</p>
					<p>If you want to exercise any of these rights then please contact us at support@humos.co.uk. The various rights are not absolute and each is subject to certain exceptions or qualifications. For example, if you wish to withdraw your consent or object to processing, we may need to discuss with you whether our use of your data needs to continue for other lawful purposes, such as fulfilment of a legal or contractual requirement.
					</p>
					<p>We will respond to your request within one month of receipt of your request. In some cases we may not be able to fulfil your request to exercise the right before this date, and may need to request more time. Where we cannot provide a full response to you for any reason, we will let you know about this in our initial reply to your request.</p>
					
					<h5>YOUR DUTY TO INFORM US OF CHANGES</h5>
					<p>It is important that the personal information we hold about you is accurate and current. Please keep us informed if your personal information changes during your working relationship with us.</p>
					
					<h5>FEES</h5>
					<p>You will not have to pay a fee to access your personal information (or to exercise any of the other rights).  In some cases, we may charge a reasonable fee if your request for access is clearly unfounded or excessive, if you request multiple copies of the information or request a copy that cannot be delivered electronically. Alternatively, we may refuse to comply with the request in such circumstances.</p>
					
					<h5>WHAT WE MAY NEED FROM YOU</h5>
					<p>We may need to request specific information from you to help us confirm your identity and ensure your right to access the information (or to exercise any of your other rights). This is another appropriate security measure to ensure that personal information is not disclosed to any person who has no right to receive it.</p>
					
					<h5>RIGHT TO COMPLAIN</h5>
					<p>If you wish to request further information about any of the above rights, or if you are unhappy with how we have handled your information, please contact us at support@humos.co.uk</p>
					<p>If you are not satisfied with our response to your complaint or believe our processing of your information does not comply with data protection law, you can make a complaint to your supervisory authority. For example, if you live in the UK, you can contact the Information Commissioner’s Office: https://ico.org.uk/global/contact-us/ or 0303 123 1113.</p>
					
					<h5>INFORMATION WHICH WE OBTAIN ABOUT YOU</h5>
					<p>You can view the Site or download the Application without registering with us, but you have to register via Facebook or your HUMOS account in order to submit comments or photographs to the Site or the Application. We ask visitors who register with us (“Users”) to supply us with personal information. The types of information collected on these pages are your name, home address, email address and country of residence Most of this information may be entered at your discretion. However, if you withhold requested information, we may not be able to provide you with certain services.</p>
					<p>You may provide us with additional personal information, including personal information related to other people, in the course of using the Site and/or Application, for instance photographs of other people’s favourite smells, their name, the date and location of the photograph and other information. You must get their consent as set out in our Guidelines before submitting photographs of them to the Site or via the Application.</p>
					<p>When you connect via Facebook, a photograph of you and your name will form part of your profile page together with the photographs you mark as your favourites and any comments you make via the Site or Application. You can edit the ‘About me’ section on your Profile and you can choose to have your profile page deleted by selecting to remove your profile via the Site or Application, but please note that unless you specifically request they be removed, the photographs and comments you submit to the Site or via the Application will remain on the Site and Application indefinitely even if you decide to stop being a user.</p>
					
					<h5>PUBLIC FORUM</h5>
					<p>Any information disclosed in your profile or in comments and photographs you submit become public information and you should always be careful in deciding whether to disclose personal information.</p>
					
					<h5>WHAT WE DO WITH YOUR INFORMATION</h5>
					<p>By using the Site and/or Application, you agree that we may use your information (including personal information) for the purposes of:</p>
					<ul>
						<li class="fs-5"> verifying your identity (for example when you return to the Site or Application);</li>
						<li class="fs-5"> personalising your visits to the Site and use of the Application and developing the design and style of the Site and Application to improve the services provided to you;</li>
						<li class="fs-5"> informing you about the latest changes to the Site or Application that you might find interesting; dealing with, and responding to you about, a photograph, comment or other content you have submitted to the Site or via the Application or a complaint you have lodged about content submitted to the Site or via the Application;</li>
						<li class="fs-5"> contacting you to ask about photographs and/or comments you have submitted to the Site or via the Application, for instance to verify whether you got the consent of people in the photographs for their image to appear on the Site and Application;</li>
						<li class="fs-5"> communicating (and personalising such communication) with you including through sending you marketing communications. Please see the section ‘Jo Loves Communications’ below; informing you if you have been successful in any Site or Application competitions or promotions; conducting market research; and carrying out statistical, technical and logistical analysis</li>
					</ul>
					
					<h5>OUR BASES FOR COLLECTING AND USING THE INFORMATION</h5>
					<p>We are entitled to use your personal data in the ways set out in this Privacy Notice on the following bases:</p>
					<ul>
						<li class="fs-5"> the use of personal data in this way is necessary for the performance of a contract with you for provision of our products and/or services or to take steps at your request prior to entering into such a contract;</li>
						<li class="fs-5"> we have legal obligations that we have to discharge;</li>
						<li class="fs-5"> the use of your personal data is necessary for our legitimate interests in: </li>
						<li class="fs-5"> ensuring the quality of the products and services we provide to you;</li>
						<li class="fs-5"> to establish, exercise or defend our legal rights for the purposes of legal proceedings.</li>
						<li class="fs-5"> collecting information for marketing purposes; and</li>
						<li class="fs-5"> communicating with you;</li>
					</ul>
					<p>If provision of your personal information is a legal or contractual requirement or a requirement necessary to enter into a contract with us, and you choose not to provide it, we may not be able to perform some of the tasks we need to in order to provide certain products or services to you.</p>
					<p>If you do choose to provide your consent you can withdraw it at any time by contacting us at support@humos.co.uk</p>
					
					<h5>WILL YOU DISCLOSE ANY OF MY PERSONAL DATA TO THIRD PARTIES?</h5>
					<p>We may disclose your personal data to third parties in the following circumstances:</p>
					<ul class="unstyled-list">
						<li class="fs-5"> Third party service providers: Under protection of confidentiality agreements, we use third parties to provide services and manage our sites and relationships with you. These may include website hosting and organisations that assist us in our direct marketing activities. Third-party processors and providers will be given access only to that information needed to perform their support functions, and are prohibited from using it for other purposes.</li>
						<li class="fs-5"> Direct marketing: See below, under Communications’ for further information.</li>
						<li class="fs-5"> Reorganisation: In the event that we or a part of our business undergo re-organisation, enters into a joint venture or are sold to or merged with a third party, you agree that any personal information we hold about you may be transferred to that re-organised entity or third party. You may always opt-out of hearing from these third parties.</li>
						<li class="fs-5"> Legal issues: In some cases we may be required to disclose your personal information to comply with legal requirements and requests from government agencies.</li>
					</ul>
					
					 <h5>TRANSFER OF PERSONAL DATA OUTSIDE THE EEA</h5>
					<p> Information will be shared with a courier in the destination of delivery, and therefore we may transfer, use and/or store your personal information outside of the European Economic Area (“EEA”), depending on your shipping destination. The laws of some of these destination countries may not offer the same standard of protection for personal information as countries within the EEA. It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers (for example, those who supply support services to us). </p>
					<p>Transfers to our third party service providers are to enable them to use and store your personal information on our behalf.  We will, however, put in place appropriate security procedures in order to protect your personal information. Where your information is transferred to any country outside the EEA, we ensure that this is done using specific legally-approved safeguards.  You can request further details and a copy of these safeguards by contacting us.</p>
					
					<h5>COMMUNICATIONS</h5>
					<p>We may use your personal information to send you: newsletters and information of any changes or additions to the Site and/or Application; information we think you may find useful or which you have requested from us, including information about Jo Loves products and services, provided you have consented by “opting-in” to being contacted for these purposes.</p>
					<p>You can tell us not to contact you with information regarding our products either at the point such information is collected on our Site or via the Application (by not ticking the relevant “opt-in” box), or by using the unsubscribe link listed in the email or by contacting us at support@humos.co.uk</p>
					
					<h5>SECURITY</h5>
					<p>We recognise the need to ensure that personal information gathered via this website remains secure. Our site has appropriate technical and organisational security measures installed in place to protect against the loss, misuse and alteration of the personal information under our control. You acknowledge that although we exercise adequate care and security there remains a risk that information transmitted over the Internet and stored by computer may be intercepted or accessed by an unauthorised third party.</p>
					
					<h5>LINKS TO OTHER WEBSITES</h5>
					<p>Links on our website may take you to third party sites over which we have no control. While such links are provided for your convenience, you should be aware that the information handling practices of the linked websites might not be the same as ours. You should review any privacy notices on those linked websites. We are not responsible for any linked websites.</p>
					
					<h5>CHANGES TO OUR PRIVACY NOTICE</h5>
					<p>We reserve the right, at our discretion, to change, modify, add to, or remove portions from, our Privacy Notice. It is your responsability to check this document regularly for any changes.</p>
					
					<h5>COOKIES</h5>
					<p>A “cookie” is a small piece of text received from a website and stored on a user&#8217;s computer by a web browser. Each time the web browser requests a page from the web server this message is sent back to the web server.</p>
					<p>We use cookies to: track your visit to the Site; and customise your experience of the Site We may use the information collected from the use of cookies to analyse trends, optimise the site, or for research and marketing purposes.</p>
					<p>No personal information about you is contained in the cookie but in certain circumstances we may match the cookie to your personal information that you disclose to us or that we already hold.</p>
					<p>We set a cookie when you log into our website: we will use a cookie to recognise your visit until you log out or close your browser[, except if you select the “always remember me” option, in which case the cookie will remain on your computer until you log out or delete the cookie.</p>
					<p>We set a cookie where we use cookies to track your visit and access to our various pages, if you disclose personal information to us (for example, during the registration process) we may be able to match this information to the web pages that you have looked at for marketing or administrative reasons; and If you wish, you can set your browser to notify you before you receive a cookie so you have the chance to accept it and you can also set your browser to refuse to receive or send all cookies. The web site www.allaboutcookies.org (run by the Interactive Marketing Bureau) contains step-by-step guidance on how cookies can be switched off by users.</p>
						
					</div>

				</div>
			</div>
		
       
        {{- partial "footer.html" . -}}
    </body>
</html>
