{{ define "main" }}

<div class="container py-3">

  <div class="d-flex flex-wrap">
	<div class="col-lg-2" id="checkbox-example-filters"
  data-mdb-items=".checkbox-example-item" data-mdb-auto-filter="true">
  <h3 class="">Filter Title</h3>
  <div class="" data-mdb-filter="aromatherapy">
 <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="aromatherapy" />
      <label class="form-check-label" for="inlineCheckbox1">Aromatherapy</label>
    </div>
    </div>
    <div class="" data-mdb-filter="calming">
        <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="calming" />
      <label class="form-check-label" for="inlineCheckbox1">Calming</label>
    </div>
</div>
    <div class="" data-mdb-filter="stress">
        <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="stress" />
      <label class="form-check-label" for="inlineCheckbox1">Stress Reduction</label>
    </div>
</div>
    <div class="" data-mdb-filter="energy">
        <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="energy" />
      <label class="form-check-label" for="inlineCheckbox1">Energy Boost</label>
    </div>
</div>
    <div class="" data-mdb-filter="mood">
        <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="mood" />
      <label class="form-check-label" for="inlineCheckbox1">Mood</label>
    </div>
</div>
    <div class="" data-mdb-filter="sleep">
        <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="sleep" />
      <label class="form-check-label" for="inlineCheckbox1">Sleep</label>
    </div>
</div>
</div>

<div class="col-lg-10 row text-center">
 
    <div class="text-center mx-md-auto">
        <h1 class="text-capitalize font-weight-bold">{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
      </div>
      
      {{ range where .Site.Data.productlist "cat" .Params.Cat }} 
    
      {{ partial "cat-list-card.html" . }}
    
    {{ end }}
</div>
</div>
</div>

{{ end }}