


<div class="col-md-4 mb-5  checkbox-example-item" 
{{ if eq .filter_aromatherapy "yes" }}data-mdb-aromatherapy="aromatherapy"{{ end }}
{{ if eq .filter_calming "yes" }}data-mdb-calming="calming"{{ end }}
{{ if eq .filter_for_stress "yes" }}data-mdb-stress="stress"{{ end }}
{{ if eq .filter_for_energy "yes" }}data-mdb-energy="energy"{{ end }}
{{ if eq .filter_for_mood "yes" }}data-mdb-mood="mood"{{ end }}
{{ if eq .filter_to_sleep "yes" }}data-mdb-sleep="sleep"{{ end }}
 data-product-name="{{ .name }}">

   <a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/">
    <img class="card-img-top" src="/images/products/{{.cat_url}}/{{.image}}" alt="{{ .name }}">
  </a>


  <div class="px-4">
      <p class="mb-0"> <a class="text-inherit text-decoration-none" href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/">{{ .name }}</a> </p>
      <p class="font-size-1 my-0">{{ .type }}</p>
        <p class="text-dark font-weight-bold">£{{ .price }}</p> 
 
<p><a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/" class="text-decoration-none text-inherit">View Details</a></p>
	  

   {{- partial "add-to-cart-button-small.html" . -}} 
	 
 
</div>
</div>



