<footer id="footer" class="bg-dark">
    <div class="container">
      <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
        <div class="row justify-content-lg-between">
          <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
            <!-- Logo -->
            <div class="mb-4">
              <a href="index.html" aria-label="Front">
                <img class="brand" src="/images/logoWhite.svg" alt="logo" height="30">
              </a>
            </div>
            <!-- End Logo -->

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link text-white-50" href="javascript:;">
                    <span class="media">
                      <span class="fas fa-location-arrow mt-1 mr-2"></span>
                      <span class="media-body">
                        5 Church Road, Caversham, Reading, Berkshire, RG4 7AA, United Kingdom
                      </span>
                    </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link media text-white-50" href="tel:+441189481209">
                    <span class="media">
                      <span class="fas fa-phone-alt mt-1 mr-2"></span>
                      <span class="media-body">
                        +44 (0) 118 948 1209
                      </span>
                    </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg-2 mb-5 mb-lg-0">
            <h5 class="text-white">Discover us</h5>

            <!-- Nav Link -->
			  <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                        <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}about-us/" class="nav-link text-white-50">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}humos-atelier-and-showroom-caversham/" class="nav-link text-white-50">Studio and Boutique Showroom</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}the-scent-library/" class="nav-link text-white-50">The scent library</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}the-scent-designer-for-our-essential-oil-blends-aromatherapy-candles-and-natural-perfumes/" class="nav-link text-white-50">The scent designer</a>
                        </li>
                    </ul>
			  
			  

            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg-2 mb-5 mb-lg-0">
            <h5 class="text-white">Customer Care</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a href="{{.Site.BaseURL | absURL}}customer-service/" class="nav-link text-white-50">Customer services</a></li>
				
				<li class="nav-item"><a href="#" class="nav-link text-white-50 d-none">FAQs</a></li>
				
				<li class="nav-item"><a href="{{.Site.BaseURL | absURL}}delivery-and-returns/" class="nav-link text-white-50">Delivery and returns</a></li>
				
				<li class="nav-item"><a href="{{.Site.BaseURL | absURL}}contact-us/" class="nav-link text-white-50">Contact us</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg-2">
            <h5 class="text-white">Corporate Services</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}scent-branding-scent-logo/" class="nav-link text-white-50">Scent Branding</a>
                        </li>
              <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}scent-branding-scent-logo/" class="nav-link text-white-50">Corporate GIfts</a>
                        </li>
              <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}scent-branding-scent-logo/" class="nav-link text-white-50">White labelling & Bespoke</a>
                        </li>
             <li class="nav-item">
                            <a href="{{.Site.BaseURL | absURL}}business-consultation-and-product-development/" class="nav-link text-white-50">Consulting and Product Development</a>
                        </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg-2">
            <h5 class="text-white">Resources</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="media align-items-center">
                      <i class="fa fa-info-circle mr-2"></i>
                      <span class="media-body">Help</span>
                    </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white-50 snipcart-customer-signin" href="#">
                    <span class="media align-items-center">
                      <i class="fa fa-user-circle mr-2"></i>
                      <span class="media-body">Your Account</span>
                    </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>
        </div>
      </div>

      <hr class="opacity-xs my-0">

      <div class="space-1">
        <div class="row align-items-md-center mb-7">
          <div class="col-md-6  mb-4 mb-md-0">
            <!-- Nav Link -->
            <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
				
				
				
              <li class="nav-item">
                <a href="/privacy-policy/" class="nav-link text-white-50 text">Privacy policy</a>
              </li>
              <li class="nav-item opacity mx-3">&#47;</li>
              <li class="nav-item">
                <a href="/terms-and-conditions/" class="nav-link text-white-50 ">Terms &amp; conditions</a>
              </li>

            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-md-6 text-md-end">
            <ul class="list-inline mb-0">
              <!-- Social Networks -->
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-google"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <!-- End Social Networks -->


            </ul>
          </div>
        </div>

        <!-- Copyright -->
        <div class=" text-lg-center mx-lg-auto mt-5">
          <p class="text-white opacity-sm small"> Copyright &copy; 2021 The Nature Lab Ltd. Trading as HUMOS. Registered address: 5 Church Road, Caversham, Reading, Berkshire, RG4 7AA, United Kingdom. Company number 8553206. Registered in England and Wales.</p>
         
        </div>
        <!-- End Copyright -->
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->




<script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="ZmNjMTg2YWUtNGFkYS00NDEzLThkNTctZjZmYzAxYmM0ZjhmNjM3NTI4NzM0MTIyNDcyNDE4" data-config-modal-style="side">

</div>

<script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>
<script defer type="text/javascript" src="/MDB5/js/mdb.min.js"></script>
<script defer type="text/javascript" src="/MDB5/plugins/js/all.min.js"></script>
<script>
	$( document ).ready(function() {
	const checkboxExampleFilters = document.getElementById('checkbox-example-filters');
const checkboxInstance = new Filters(checkboxExampleFilters)
});
</script>


<script>
	
$( document ).ready(function() {
	
	//////////////////////////////////////////////////
	
	// MULTIPLY FUNCTION
	// Simple function to return multipled value
	
	function multiply(a, b) {
		return a * b;
	}
	
	//////////////////////////////////////////////////
	
	//////////////////////////////////////////////////
	
	// MDB Input Mask Plugin Fix
	
	// The MDB Input Mask Plugin incorrectly replaces the placeholder of an input field with the mask on focusout. This fix gets the placeholder on focus and stores it before re-setting placeholder back to original on focusout of input field.
	
	// declare input_placeholder variable that will be used to store the placeholder on focus.
	var input_placeholder;
	
	// on focus in of input field, set input_placeholder value to content of placeholder attribute and move cursor to start of input.
	$("input[type=text]").on('focus', function(){
		input_placeholder = $(this).attr('placeholder');
		$(this)[0].setSelectionRange(0,0);
    });
	
	// on focus out of input field, set placeholder content to value of input_placeholder variable.
	$("input[type=text]").on('blur', function(){
		$(this).attr("placeholder", input_placeholder);
	});
	
	/////////////////////////////////////////////////
	
	
	/////////////////////////////////////////////////
	
	// OPEN WORKSHOP MODAL
	
	var Modal = $('#openWorkshopDatesBookingModal')[0];
	var workshop_price ="";
	
	// when the open workshop booking modal form is hidden, reset the entire form.
	$(Modal).bind('hide.bs.modal', function(e) {
		$(this).find('form').trigger("reset");
	});
	
	// when the open workshop booking modal is showing.
	$(Modal).bind('show.bs.modal', function(e) {
		$('.form_body').removeClass('d-none');
		$('.modal-header').removeClass('d-none');
		$('.sending-form').addClass('d-none');
		
		var button = e.relatedTarget;
		var workshop_title = $(button).data( 'bs-workshop-title' );
		var workshop_date = $(button).data( 'bs-workshop-date' );
		var workshop_time = $(button).data( 'bs-workshop-time' );
		var workshop_date_time = workshop_date+" at "+workshop_time;
		
		workshop_price = $(button).data( 'bs-workshop-price' );
		
		$('.booking-workshop-title').val(workshop_title);
		$('.booking-workshop-date-time').val(workshop_date_time);
		$('.booking-workshop-price').text(multiply($("#OpenWorkshopQty").val(), workshop_price));
		$('.booking-workshop-price-single').text(workshop_price);

	});
	
	
	$("#OpenWorkshopQty").on("change paste keyup reset", function() {
		$('.booking-workshop-price').text(multiply($(this).val(), workshop_price));
		$('.booking-workshop-qty').text($(this).val());
	});
	
	
	/////////////////////////////////////////////////
	
	/////////////////////////////////////////////////
	
	// PRIVATE WORKSHOP MODAL
	
	// declare variables
	var pw_price;
	var pw_price_add_ppl;
	var private_workshop_modal = $('#privateWorkshopModal')[0];
	
	// before showing the private workshop booking modal
	$(private_workshop_modal).bind('show.bs.modal', function(e) {
		// define variables
		var button = e.relatedTarget;
		
		pw_price = $(button).data( 'bs-workshop-price' );
		pw_max_ppl = $(button).data( 'bs-workshop-max-people' ); 
		pw_min_ppl =$(button).data( 'bs-workshop-min-people' ); 
		pw_price_add_ppl = $(button).data( 'bs-workshop-price-additional' );
		
		$('.private-workshop-price').text(multiply($("#PrivateWorkshopQty").val(), pw_price));
		$('.private-workshop-price-single').text(pw_price);
		
		$('.form_body').removeClass('d-none');
		$('.modal-header').removeClass('d-none');
		$('.sending-form').addClass('d-none');
		
	});
	
	$("#PrivateWorkshopQty").on("change paste keyup reset", function() {
	
		$('.private-workshop-price').text(multiply($(this).val(), pw_price));
		$('.private-workshop-qty').text($(this).val());
		
		if ($(this).val() <= pw_min_ppl) {
			$('.private-workshop-price').text(pw_price);
		} else {
			if (($(this).val() > pw_min_ppl) && ($(this).val() <= pw_max_ppl)) {
				$('.private-workshop-price').text((multiply(($(this).val() - pw_min_ppl), pw_price_add_ppl)+pw_price));
			} else {
				$(this).val(pw_max_ppl).change();
			}
		}
	});
	
	
	/////////////////////////////////////////////////
	
	////////////////////////////////////////////////
	
	// BESPOKE / COMISSION MODAL
	
	var bespoke_modal = $('#bespokeModal')[0];
	$(bespoke_modal).bind('show.bs.modal', function(e) {
		// define variables
		var button = e.relatedTarget;
		
		$('.form_body').removeClass('d-none');
		$('.modal-header').removeClass('d-none');
		$('.sending-form').addClass('d-none');
		
	});
	
	////////////////////////////////////////////////
	
	
	
	
	
	

var experience_form_modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));

	
	var current_fs, next_fs, previous_fs, next_step; //fieldsets
    $('#blendingExperienceForm fieldset:not(:first-child)').hide();	
	
	$('#blendingExperienceForm .btn-next').on('click', function (event) {
	
	// get the parent fieldset of continue button
    var parent_fieldset = $(this).parents('fieldset');
		
	// set next step to true
    next_step = true;
	// get all inputs with class form-control within the curent fieldset
	var inputs = parent_fieldset.find(".form-control");
		
	// loop over each input to check if valid
    var validation = Array.prototype.filter.call(inputs, function(input) {

        // reset
        input.classList.remove('is-invalid');
        input.classList.remove('is-valid');

		// if input is not valid, set next step to false and add invalid classes and scroll to top
        if (input.checkValidity() === false) {
            input.classList.add('is-invalid');
			next_step = false;
			document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
		
		// input must be valid so add class and set next step to true
        
     
    });	
		
		if (next_step === true) {
		
parent_fieldset.hide();
        parent_fieldset.fadeOut("fast", function () {
			
            $(this).next().show();
			
				
        });
    }
		
	$('.form-control').on('blur', function () {
        if ( $( this ).hasClass( "is-invalid" ) ) {
			$( this ).removeClass( "is-invalid" )
		}
    });		
		
	});
	
	$('#blendingExperienceForm .btn-previous').on('click', function () {
		$(this).parents('fieldset').hide();
    $(this).parents('fieldset').fadeOut("fast", function () {
        $(this).prev().show();
    });
});
	
	
	
// FORMS START	
	
// submit blending experience form	
	
$('#blendingExperienceForm').on('submit', function (e) {
       e.preventDefault();

	$('#sending_form').html('<div class="row"><div class="col py-3 text-center"><i class="fas fa-spinner-third fa-3x fa-spin text-purple mb-2"></i><p class="lead text-center ">Sending. Please wait...</p>');
	
	$('#formContent').addClass('d-none');
	
	$('.modal-dialog').addClass('modal-dialog-centered ').removeClass('modal-xl');
	
	$('#sending_form').removeClass('d-none');
	
	setTimeout(function() { 
		$('#sending_form').html('<div class="row"><div class="col py-3 text-center"><i class="fas fa-check-circle mb-4 text-success fa-4x"></i><p class="lead text-center ">Sent</p>');
		setTimeout(function() { 
		experience_form_modal.hide();
			}, 3000);
	}, 2000);
					
						
					
	
	
    });	
	
$('#openWorkshopForm').on('submit', function (e) {
	e.preventDefault();
	var dataString = $(this).serialize();
	
	$.ajax({
      type: "POST",
      url: "https://www.humos.co.uk/book/form_process/open-fragrance-workshop.form.process.php",
		crossDomain: true,
      data: dataString,
		beforeSend: function () {
			// alert ("before sending");
			$('.sending-form').html('<div class="row"><div class="col py-3 text-center"><i class="fas fa-spinner-third fa-3x fa-spin text-warning mb-2"></i><p class="lead text-center ">Submitting. Please wait...</p></div></div>');
			$('.form_body').addClass('d-none');
			$('.modal-header').addClass('d-none');
				$('.sending-form').removeClass('d-none');
		},
	
		success: function (data) {
			
			if (data.status == "success") {
				
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-check-circle mb-2 text-success fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
					setTimeout(function() { 
						$('#openWorkshopDatesBookingModal').modal('hide');
						$('#openWorkshopForm').trigger("reset");
					}, 5000);	
			}
			if (data.status == "error") {
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
				$('.form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
			}
			

		
		},
		error: function (jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connected to internet.\n Verify your Network status and try again.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [error 404]. Please contact us.';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500]. Please try again shortly.';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed. Please contact support';
        } else if (exception === 'timeout') {
            msg = 'Time out error. Please try again.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted. Please try again.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
		
        alert(msg);
			$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">Error:</p><p>'+msg+'</p>');
				$('#form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
		},
	});
});	
	
$('#privateWorkshopForm').on('submit', function (e) {
	e.preventDefault();
	var dataString = $(this).serialize();
	
	$.ajax({
      type: "POST",
      url: "https://www.humos.co.uk/book/form_process/open-fragrance-workshop.form.process.php",
		crossDomain: true,
      data: dataString,
		beforeSend: function () {
			// alert ("before sending");
			$('.sending-form').html('<div class="row"><div class="col py-3 text-center"><i class="fas fa-spinner-third fa-3x fa-spin text-warning mb-2"></i><p class="lead text-center ">Submitting. Please wait...</p></div></div>');
			$('.form_body').addClass('d-none');
			$('.modal-header').addClass('d-none');
				$('.sending-form').removeClass('d-none');
		},
	
		success: function (data) {
			
			if (data.status == "success") {
				
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-check-circle mb-2 text-success fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
					setTimeout(function() { 
						$('#privateWorkshopModal').modal('hide');
						$('#privateWorkshopForm').trigger("reset");
					}, 5000);	
			}
			if (data.status == "error") {
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
				$('#form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
			}
			

		
		},
		error: function (jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connected to internet.\n Verify your Network status and try again.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [error 404]. Please contact us.';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500]. Please try again shortly.';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed. Please contact support';
        } else if (exception === 'timeout') {
            msg = 'Time out error. Please try again.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted. Please try again.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
		
        alert(msg);
			$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">Error:</p><p>'+msg+'</p>');
				$('.form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
		},
	});
});		
	
	
	
	
$('#commissionForm').on('submit', function (e) {
	e.preventDefault();
	var dataString = $(this).serialize();
	
	$.ajax({
      type: "POST",
      url: "https://www.humos.co.uk/book/form_process/open-fragrance-workshop.form.process.php",
		crossDomain: true,
      data: dataString,
		beforeSend: function () {
			// alert ("before sending");
			$('.sending-form').html('<div class="row"><div class="col py-3 text-center"><i class="fas fa-spinner-third fa-3x fa-spin text-warning mb-2"></i><p class="lead text-center ">Submitting. Please wait...</p></div></div>');
			$('.form_body').addClass('d-none');
			$('.modal-header').addClass('d-none');
				$('.sending-form').removeClass('d-none');
		},
	
		success: function (data) {
			
			if (data.status == "success") {
				
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-check-circle mb-2 text-success fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
					setTimeout(function() { 
						$('#bespokeModal').modal('hide');
						$('#commissionForm').trigger("reset");
					}, 5000);	
			}
			if (data.status == "error") {
				$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">'+data.status+'</p><p>'+data.msg+'</p>');
				$('#form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
			}
			

		
		},
		error: function (jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connected to internet.\n Verify your Network status and try again.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [error 404]. Please contact us.';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500]. Please try again shortly.';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed. Please contact support';
        } else if (exception === 'timeout') {
            msg = 'Time out error. Please try again.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted. Please try again.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
		
        alert(msg);
			$('.sending-form').html('<div class="row"><div class="col text-center"><i class="fas fa-exclamation-circle mb-2 text-danger fa-4x"></i><p class="text-center mb-0 pb-0">Error:</p><p>'+msg+'</p>');
				$('.form_body').removeClass('d-none');
				$('.modal-header').removeClass('d-none');
		},
	});
});			
	
	
// FORMS END	
});	
	
$(document).ready(function(){
	var hiddenElements =[];
	
//	$('.filter-button').change(function() {
 //       if(this.checked) {
 //          // alert("changed");
//			hiddenElements.push( $( ".filter" ).not( ":hidden" ).data("product-name"));
			
//			alert(JSON.stringify(hiddenElements));
			
 //       } else {
//			var index = hiddenElements.indexOf($( ".filter" ).not( ":visible" ).data("product-name"));
//			if (index !== -1) {
//				hiddenElements.splice(index, 1);
//			}
			

//			alert(JSON.stringify(hiddenElements));
			
//		}
             
 //   });
	
var filters = [];
	

$(".filter-button").change(function(e){
	$('.filter').show();
	
	$(".filter-button:checked").each(function(){
		
		var value = $(this).data('filter');
	
		if (value == "all") {
			$('.filter').show();	
		} 
		else {
			if ($(this).is(':checked')) {		
				
				$.each( $(".filter"), function() {
					if (!$(this).hasClass(value) && $(this).not(":hidden") )
					{
						$(this).hide();
					} 
				});
			
			} else {
				alert ("hidden");
				$('.filter').show();	
			}
		}
	});
});
	
	


});

	
</script>

<script>
$.fn.isInViewport = function () {
    let elementTop = $(this).offset().top  ;
    let elementBottom = elementTop + $(this).outerHeight();

    let viewportTop = $(window).scrollTop() ;
    let viewportBottom = viewportTop + $(window).height() + 200;

    return elementBottom > viewportTop && elementTop < viewportBottom;
};	

//hide and show bottom sticky add to cart section	
$(document).scroll(function() {
	
	
	//if slider cart is open when scrolling, close it
//	Snipcart.api.theme.cart.close()
	
	//when scroll past 900, show bottom sticky cart, otherwise hide it 
	var y = $(this).scrollTop();
	if ($('#mainAddToCartButton').isInViewport() || $('#footer').isInViewport() )  {
		$('#bottomCart').addClass("d-none");
	} else {
		$('#bottomCart').removeClass("d-none");
	}
});	
	
$(document).ready(function() {
	
	$(".show-more-reviews-button").on("click", function() {
		$(this).addClass('d-none');
		$(".show-more-reviews").removeClass('d-none');
	});	

	
	//product quanity plus and minus adding
	$(".js-plus").on("click", function() {
		var num = +$(".product-qty-input").val() + 1;
		$(".product-qty-input").val(num).change();
		$(".snipcart-add-item").attr("data-item-quantity", $(".product-qty-input").val());
	});	
	// product quanity reduce quanity
	$(".js-minus").on("click", function() {
		var num = +$(".product-qty-input").val() - 1;
		
		if (num <1) {
			$(".product-qty-input").val("1").change();
		
		} else {
		$(".product-qty-input").val(num).change();
		$(".snipcart-add-item").attr("data-item-quantity", $(".product-qty-input").val());
		}
	});	
	
	$(".snipcart-add-item").on("click", function() { 
		$('#bottomCart').addClass("d-none");
	});
	
});

// update quanity input to match and add to button data-item-quanitity	
$(".product-qty-input").on("input change", function() { 
	var myInput = $(this);

    if (myInput.val() < 1) {
        myInput.val('1');
    }
	$(".product-qty-input").val($(this).val());
	$(".snipcart-add-item").attr("data-item-quantity", $(this).val());
});
	

</script>


