<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="" height="30" class="d-inline-block align-text-top">
    </a><div>
    	<div class="d-flex flex-row align-items-center justify-content-end">
	<span class="fs-2">  
<a class="text-decoration-none text-warning border-end pe-1" href="/">EN</a><a class="text-decoration-none text-dark ps-1" href="/">ES</a>
</span>	  

	  
<button type="button" class="btn snipcart-customer-signin shadow-none px-3">
      <i class="fal fa-user-circle fa-2x "></i>
	  </button>	  
<button type="button" class="btn shadow-none ps-0 pe-2">
      <i class="fal fa-shopping-bag fa-2x snipcart-checkout"></i>
   <span class="badge badge-cart bg-warning rounded-pill snipcart-items-count snipcart-checkout"></span>
</button>
<button type="button" class="btn shadow-none d-xl-none px-0" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
     <i class="fal fa-bars fa-2x"></i>

</button>	  
</div>

	  </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-warning shadow-none">
  <div class="container">
	  <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0  py-2 justify-content-between w-100">
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Shop Online</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Home Fragrances</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Reed Diffusers</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Home Spray / Room Fragrance</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Blended  Oils</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom home fragrances</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Candles</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Glass Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Concrete Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Crystal Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Aromatherapy Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom candle</a></li>
							  </ul>
						  </div>
<div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Bath and Body</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Bath and Body</a></li>
</ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Shop by Benefit</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}tags/calming/" class="stretched-link text-dark">Calming</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}tags/stress-reducing/" class="stretched-link text-dark">Stress Reducing</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}tags/energy-boosting/" class="stretched-link text-dark">Energy Boosting</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}tags/mood-enhancing/" class="stretched-link text-dark">Mood Enhancing</a></li>
								 
							  </ul>
							  
						  </div>
					
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Fragrances</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
							  <ul class="d-lg-flex justify-content-center ps-0">
								   <li class="d-block d-l-inline-block mx-4 py-2 border-bottom">
								   	<a href="{{.Site.BaseURL | absURL}}fragrances/bespoke-fragrance-design-and-creation-experience/" class=" text-dark">Bespoke Design & Creation Experience</a></li>
 <li class="d-block d-l-inline-block mx-4 py-2 border-bottom"><a href="{{.Site.BaseURL | absURL}}fragrances/triplex/" class=" text-dark">Triplex</a></li>
<li class="d-block d-l-inline-block mx-4 py-2 border-bottom">
	<a href="{{.Site.BaseURL | absURL}}fragrances/commission-a-fragrance/" class=" text-dark">Commissions</a></li>
<li class="d-block d-l-inline-block mx-4 py-2 border-bottom"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-fragrance-blend/" class=" text-dark">Re-order My Fragrances</a></li>
</ul>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Experiences & Workshops</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Fragrance Making Experience</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/open-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Open Fragrance Workshop</a></li>
								  
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/private-group-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Private Group Fragrance Workshop</a></li>

							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Home Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/reed-diffuser-and-home-spray-making/" class="stretched-link text-dark">Reed Diffuser & Home spray Making</a>
								  </li>
								   <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/open-home-fragrance-workshop-experience-reading/" class="stretched-link text-dark">Open home fragrance Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/private-group-home-fragrance-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group home Fragrance Workshop</a></li>
								
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Candle Making Workshops</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/candle-making-experience-workshop-reading/" class="stretched-link text-dark">Open Candle Making Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/private-group-candle-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group candle making Workshop</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Re-order your blend</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-fragrance-blend/" class=" text-dark">Re-order a fragrance blend</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-candle-blend/" class=" text-dark">Re-order a candle blend</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-reed-diffuser-room-mist-blend/" class=" text-dark">Re-order a Reed Diffuser/Room Mist blend</a></li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Bespoke & Commissions</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
 <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">

						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Studio Bespoke & Commissions</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}bespoke-and-commissions/perfume-and-fragrances/" class="stretched-link text-dark">Perfume & Fragrances</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}bespoke-and-commissions/triplex/" class="stretched-link text-dark">Triplex</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}bespoke-and-commissions/home-fragrances/" class="stretched-link text-dark">Home Fragrances</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Re-order your blend</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-fragrance-blend/" class=" text-dark">Re-order a fragrance blend</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-candle-blend/" class=" text-dark">Re-order a candle blend</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}experiences-and-workshops/re-order-a-reed-diffuser-room-mist-blend/" class=" text-dark">Re-order a Reed Diffuser/Room Mist blend</a></li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Spa</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
							  <ul class="d-lg-flex justify-content-center ps-0">
<li class="d-block d-l-inline-block mx-4 py-2 border-bottom"><a href="{{.Site.BaseURL | absURL}}spa/what-is-aromachology-in-reading/" class="text-dark">Aromachology Therapy</a></li>
<li class="d-block  d-l-inline-block mx-4 py-2 border-bottom"><a href="{{.Site.BaseURL | absURL}}spa/aromatherapy-massage-and-treatments-in-reading/" class="text-dark">Aromatherapy Treatments</a></li>
<li class="d-block  d-l-inline-block mx-4 py-2 border-bottom"><a href="{{.Site.BaseURL | absURL}}spa/treatment-packages/" class="text-dark">Treatment Packages</a></li>
							  </ul>
			  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>


		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Gifts</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Fragrance Gifts</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/fragrance-design-and-creation/" class="stretched-link text-dark">Fragrance Design & Creation</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/triplex-bespoke-fragrance/" class="stretched-link text-dark">Triplex Bespoke Fragrance</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Experience Gifts</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/fragrance-making-gifts/" class="stretched-link text-dark">Fragrance making gifts</a>
								  </li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Treatment Gifts</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/spa-treatment-gifts/" class="stretched-link text-dark">Spa Treatment Gifts</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Product Gifts</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/gifts-for-wellbeing/" class=" text-dark">Gifts for wellbeing</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/just-because-gifts/" class=" text-dark">‘just because’ gifts</a></li>
							  </ul>
						  </div>
						  						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Gift Cards</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}gifts/nominal-amount-gift-cards/" class=" text-dark">Nominal amount gift cards</a></li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>

		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Events & Parties</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Weddings & Couples</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}events-and-parties/wedding-events/" class="stretched-link text-dark">Wedding Events</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}events-and-parties/couples-fragrance-creation-experience/" class="stretched-link text-dark">Couple’s Fragrance Creation Experience</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Private Party Events</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}events-and-parties/private-party-events/" class="stretched-link text-dark">Private Party Events</a>
								  </li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Team Building Events</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}events-and-parties/team-building-events/" class="stretched-link text-dark">Team Building Events</a></li>
							  </ul>
						  </div>

					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
      </ul>
    </div>
  </div>
</nav>