<head>
<title>{{ .Title }} | HUMOS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name ="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ end }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.typekit.net/mrf3gpv.css">
<link rel="stylesheet" href="/MDB5/css/mdb.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/MDB5/plugins/css/all.min.css" />	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/MDB5/js/mdb.min.js"></script>
<script type="text/javascript" src="/MDB5/plugins/js/all.min.js"></script>
<link rel="icon" href="/images/favicon.png">
<script defer src="https://kit.fontawesome.com/19c0cd2f84.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="/css/snipcart.css" />
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.border-gray {border-color: #BDBDBD}
.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
}	
/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */		
.datepicker-day-cell.selected .datepicker-small-cell-content { background-color: black; }
.datepicker-footer-btn, .timepicker-button { color: black; }
.timepicker-circle { border-color: black; }
.datepicker-header {background-color: black};		
.datepicker-button-toggle {background-color: black}
.buttons-container {background-color: black};
.timepicker-button { color: black; }
.timepicker-circle { border-color: black; }
.timepicker-head, .timepicker-middle-dot, .timepicker-hand-pointer, .timepicker-time-tips-hours.active, .timepicker-time-tips-inner.active, .timepicker-time-tips-minutes.active { background-color: black; }		
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */		
.btn {
padding:1rem 2rem;
}
.btn-gold {
    color: #404040;
	padding:1rem 2rem;
    background-color: rgba(246, 194, 78, 1);
    border-color:transparent;
	text-transform: uppercase;
	font-weight: 300;
	border-radius: 0;
}
.btn-gold.active, .btn-gold:active, .btn-gold:focus, .btn-gold:hover {
    color: #404040;
    background-color: #fff8e8;
    box-shadow:0 4px 11px rgba(247, 250, 255, .1);
	border-color:#F6C24E;
}	
.btn-outline-gold {
    color: #404040;
	padding:1rem 2rem;
    background-color: transparent;
    border-color:#F6C24E;
	text-transform: uppercase;
	font-weight: 300;
	border-radius: 0;
}
.btn-outline-gold.active, .btn-outline-gold:active, .btn-outline-gold:focus, .btn-outline-gold:hover {
    color: #404040;
    background-color: #fff8e8;
    box-shadow:0 4px 11px rgba(247, 250, 255, .1);
	border-color:#F6C24E;
}			
		.btn-soft-light {
    color: #f7faff;
    background-color: rgba(247, 250, 255, .1);
    border-color:transparent
}
.btn-soft-light.active, .btn-soft-light:active, .btn-soft-light:focus, .btn-soft-light:hover {
    color: #1e2022;
    background-color: #f7faff;
    box-shadow:0 4px 11px rgba(247, 250, 255, .1)
}
	.btn-icon {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    width: 3.125rem;
    height: 3.125rem;
    padding:0
}	
.btn-xs {
    font-size: .75rem;
    font-weight: 400;
    padding:.275rem .75rem
}
.btn-icon.btn-xs {
    font-size: .75rem;
    width: 1.75rem;
    height:1.75rem
}
.btn-group-sm > .btn-icon.btn, .btn-icon.btn-sm {
    font-size: .8125rem;
    width: 2.6875rem;
    height:2.6875rem
}
.btn-group-lg > .btn-icon.btn, .btn-icon.btn-lg {
    font-size: 1.25rem;
    width: 4.25rem;
    height:4.25rem
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow:visible
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top:.0625rem solid #e7eaf3
}
.opacity-xs {
    opacity:.2
}
.opacity-sm {
    opacity:.4
}
.nav-sm .nav-link {
    font-size:.875rem;
	text-transform: uppercase;
}
.nav-l:hover {
			color: #FFFFFF;
		}
.nav-x-0 .nav-link {
    padding-right: 0;
    padding-left:0
}
.nav-y-0 .nav-link {
    padding-top: 0;
    padding-bottom:0
}
.nav-x-sm .nav-link {
    padding-right: .25rem;
    padding-left:.25rem
}
.hide {
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  left: 0;
}
body{font-family: agenda, sans-serif;;!important; font-weight: 300!important;}
.font-weight-black{font-weight:800!important}.font-weight-bold{font-weight:600!important}
p {
    margin-top: 0;
    margin-bottom:1rem;
	color: #404040; 
	font-size: 1.25rem;
}
.lead {
	font-size:1.35rem;
		}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-color: #ffa900;}		
</style>
</head>