       <ul class="list-group mb-3">       
{{ if $.Param "accordion" }}
{{ range $.Param "accordion" }}

<li class="list-group-item"><i class="{{ .icon }} fa-lg fa-fw  me-3"></i>{{ .title }}</li>
      {{ end }}
      {{ end }}
    </ul>
