---
title: "Treatment Packages"
description: "A natural way of healing your mind, body and soul."
heading: "Treatment Packages"
subHeading: "A natural way of healing your mind, body and soul."
layout: pageWithHero
slug: "/treatment-packages/"
---



<!-- Product Review Section -->
<div class="container py-5">
  <div class="row justify-content-lg-between align-items-lg-center">
  	<div class="col-lg-6 mb-3">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/aromatherapy-massage-in-reading-woman.jpg);"></div>
    </div>
    <div class="col-lg-5">
       <h3 class="mb-4">Custom Head-to-Toe Aromatherapy Massage</h3>
<p>A head-to-toe, custom aromatherapy massage performed with a luxury, bespoke blend of aromatherapy oils at maximum strength. Treatment also includes a facial massage and head massage where necessary.</p>
		<p>This massage treatment includes an in-depth consultation and can target more than one ailment per treatment as each oil or massage medium is blended fresh for every treatment.</p>
		       <ul class="list-group pt-3 pb-5">       
<li class="list-group-item d-table"><i class="far fa-tag  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Investment: £175 per treatment</span></li>
<li class="list-group-item d-table"><i class="far fa-clock  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Length: 90 minutes + 30 minute consultation and prep.</span></li>
</ul>
<div class="d-flex justify-content-around">	
<button class="btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#headToToeModal">Book this treatment 
</button>
<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" 
data-item-id="CUSTOM_HEAD_TO_TOE_AROMATHERAPY_MASSAGE_GIFT_CARD"
data-item-price="175.00"
data-item-url="{{ .Permalink }}"
data-item-description="Custom Head-to-Toe Aromatherapy Massage Gift Card."
data-item-image="/images/products/room-mists/fiery-romance-essential-oil-room-mist.jpg"
data-item-name="Custom Head-to-Toe Aromatherapy Massage Gift Card.">
Buy as a gift
</button>
</div>
<p class="text-center py-4"><a class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" href="images/aromatherapy-booklet-web.pdf" target="_blank">Download our brochure</a></p>
  </div>
</div>
</div>

<hr>



<div class="container py-5">
  <div class="row justify-content-lg-between align-items-lg-center">
  	<div class="col-lg-6 mb-3">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4 shadow" style="background-image: url( images/targeted-aromatherapy-massagee-caversham.jpg);"></div>
    </div>
    <div class="col-lg-5">
      <h3 class="mb-4">Problem-targeted Aromatherapy Massage</h3>
      <p class="col-lg-10">A aromatherapy body massage that utilises a fixed routine and one of our in-house pre-blended aromathearpy oils targeted towards specific problems. </p>
		  <p class="pe-lg-5">Choose from one of our in-house pre-blended aromatherapy oils:</p>
		  <ul class="list-group pt-3 pb-5">
<li class="list-group-item"><span class="fw-bold">1.</span> Deeply Relaxing Blend</li>
			  <li class="list-group-item"><span class="fw-bold">2.</span> Sleep enhancing blend</li>
			  <li class="list-group-item"><span class="fw-bold">3.</span> Anxiety easing blend</li>
			  <li class="list-group-item"><span class="fw-bold">4.</span> Muscle teension blend</li>
			  <li class="list-group-item"><span class="fw-bold">5.</span> Energising blend</li>
			  <li class="list-group-item"><span class="fw-bold">6.</span> Detox blend</li>
		  </ul>
		
<div class="d-flex justify-content-around">	
<button class="btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#problemModal">Book this treatment 
</button>
<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" 
data-item-id="PROBLEM_TARGETED_AROMATHERAPY_MASSAGE_GIFT_CARD"
data-item-price="0.00"
data-item-url="{{ .Permalink }}"
data-item-description="Problem-targeted Aromatherapy Massage Gift Card."
data-item-image="/images/products/room-mists/fiery-romance-essential-oil-room-mist.jpg"
data-item-name="Problem-targeted Aromatherapy Massage Gift Card.">
Buy as a gift
</button>
</div>
<p class="text-center py-4"><a class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" href="images/aromatherapy-booklet-web.pdf" target="_blank">Download our brochure</a></p>
    </div>

  </div>	
</div>


<hr>


<div class="container py-5">
<div class="row justify-content-lg-between align-items-lg-center">
	<div class="col-lg-6 mb-3">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/custom-body-polish-package.jpg);"></div>
    </div>
    <div class="col-lg-5">
       <h3 class="mb-4">Custom Body Polish Package</h3>
       <p>The HUMOS custom body polish backage beings with a body brushing session to help boost circulation and prep your skin for the custom aromatherapy scrub, which is blended just for you, that follows.</p>
		  <p>You'll then experience our aromatherapy body mask or wrap, depending on which skin concerns your custom package is targeted towards, before finishing with a luxury, custom aromatherapy body moisturiser which helps to replenish your skin and lock in the benefits of the treatment.</p>
<ul class="list-group pt-3 pb-5">       
<li class="list-group-item d-table"><i class="far fa-tag  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Investment: £125 per treatment</span></li>
<li class="list-group-item d-table"><i class="far fa-clock  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Length: 80 minutes + 15 minute consultation and prep.</span></li>
</ul>
<div class="d-flex justify-content-around">	
<button class="btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#bodyPolishModal">Book this treatment 
</button>
<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" 
data-item-id="CUSTOM_BODY_POLISH_PACKAGE_GIFT_CARD"
data-item-price="125.00"
data-item-url="{{ .Permalink }}"
data-item-description="Custom Body Polish Package Gift Card."
data-item-image="/images/products/room-mists/fiery-romance-essential-oil-room-mist.jpg"
data-item-name="Custom Body Polish Package Gift Card.">
Buy as a gift
</button>
</div>
<p class="text-center py-4"><a class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" href="images/aromatherapy-booklet-web.pdf" target="_blank">Download our brochure</a></p>
</div>
</div>
</div>


<hr>


<div class="container py-5">
<div class="row justify-content-lg-between align-items-lg-center">
	<div class="col-lg-6 mb3">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url( images/salt-and-oil-body-scrub-reading.jpg);"></div>
    </div>
<div class="col-lg-5">
<h3 class="mb-4">Salt and Oil Aromatherapy Scrub</h3>
      <p>This exceptional skin softening body exfoliation combines a blend of dea salts with pure essential oils and base oils to leave your skin feeling nourished, smooth and supple.</p>
<ul class="list-group pt-3 pb-5">       
<li class="list-group-item d-table"><i class="far fa-tag  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Investment: £65 per treatment</span></li>
<li class="list-group-item d-table"><i class="far fa-clock  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Length: 30 minutes + 30 minute consultation and prep.</span></li>
</ul>
<div class="d-flex justify-content-around">	
<button class="btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#saltAndOilModal">Book this treatment 
</button>
<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" 
data-item-id="SALT_AND_OIL_AROMATHERAPY_SCRUB_GIFT_CARD"
data-item-price="65.00"
data-item-url="{{ .Permalink }}"
data-item-description="Salt and Oil Aromatherapy Scrub Gift Card."
data-item-image="/images/products/room-mists/fiery-romance-essential-oil-room-mist.jpg"
data-item-name="Salt and Oil Aromatherapy Scrub Gift Card.">
Buy as a gift
</button>
</div>
<p class="text-center py-4"><a class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" href="images/aromatherapy-booklet-web.pdf" target="_blank">Download our brochure</a></p>
    </div>

  </div>
</div>


<hr>

	
<div class="container py-5">
<div class="row justify-content-lg-between align-items-lg-center">
	<div class="col-lg-6 mb-3">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/custom-aromatherapy-facial-reading.jpg);"></div>
    </div>
    <div class="col-lg-5">
       <h3 class="mb-4">Bespoke Aromatherapy Facial with Customised Facial Massage</h3>
       <p>An aromatherapy facial treatment performed with a bespoke range of aromatherapy skin-care products which are blended specifically for your skin prior to your treatment.</p>
		  <p>This bespoke aromatherapy facial includes a customised facial massage that draws from a range of techniques including manual drainage, holistic and  lifting techniques to help target fine lines and wrinkles and to boost circulation</p>
<ul class="list-group pt-3 pb-5">       
<li class="list-group-item d-table"><i class="far fa-tag  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Investment: £165 per treatment</span></li>
<li class="list-group-item d-table"><i class="far fa-clock  fa-lg fa-fw me-3 d-table-cell"></i> <span class="d-table-cell w-100">Length: 90 minutes + 20 minute consultation and prep.</span></li>
</ul>
<div class="d-flex justify-content-around">	
<button class="btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#facialModal">Book this treatment 
</button>
<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3 ripple-surface" type="button" 
data-item-id="BESPOKE_AROMATHERAPY_FACIAL_WITH_CUSTOMISED_FACIAL_MASSAGE_GIFT_CARD"
data-item-price="165.00"
data-item-url="{{ .Permalink }}"
data-item-description="Bespoke Aromatherapy Facial with Customised Facial Massage Gift Card."
data-item-image="/images/products/room-mists/fiery-romance-essential-oil-room-mist.jpg"
data-item-name="Bespoke Aromatherapy Facial with Customised Facial Massage Gift Card.">
Buy as a gift
</button>
</div>
<p class="text-center py-4"><a class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" href="images/aromatherapy-booklet-web.pdf" target="_blank">Download our brochure</a></p>
</div>

  </div>	
</div>
<!-- End Product Review Section -->
 <!-- Divider -->



<!-- CTA -->
<div class="container py-5">
<div class="bg-img-hero rounded-4 p-5" style="background-image: url(images/aromatherapy-journey-CTA.jpg);">
  <div class="row align-items-md-center justify-content-between p-5">
    <div class="col-md-5 mb-3 mb-md-0 text-center text-md-start">
      <h1 class="text-white h3 mb-0">Leave your worries and stress behind. Book an aromatherapy treatment today.</h1>
</div>
    <div class="col-md-4 text-center text-md-end">
<button class="btn btn-lg btn-light rounded-pill py-3 ripple-surface" type="button" data-bs-toggle="modal" data-bs-target="#treatmentModal">Book a treatment 
</button>
    </div>
  </div>
</div>
	</div>
<!-- End CTA -->

<!-- Modal head to toe -->
<div class="modal fade" id="headToToeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="headToToeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="headToToeTreatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Custom Head-to-Toe Aromatherapy Massage" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="small pb-0 mb-0">1 attendee</p>
                            <p class="fw-normal h5">Total: <span class="h4">£175</span></p>
                        </div>
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal problem treatment -->
<div class="modal fade" id="problemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="problemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="problemTreatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Problem-targeted Aromatherapy Massage" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="small pb-0 mb-0">1 attendee</p>
                            <p class="fw-normal h5">Total: <span class="h4">£??????</span></p>
                        </div>
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Body polish modal -->
<div class="modal fade" id="bodyPolishModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bodyPolishLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="bodyPolishTreatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Custom Body Polish Package" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="small pb-0 mb-0">1 attendee</p>
                            <p class="fw-normal h5">Total: <span class="h4">£125</span></p>
                        </div>
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- salt and oil modal -->
<div class="modal fade" id="saltAndOilModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="saltAndOilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="saltAndOilTreatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Salt and Oil Aromatherapy Scrub" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="small pb-0 mb-0">1 attendee</p>
                            <p class="fw-normal h5">Total: <span class="h4">£65</span></p>
                        </div>
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- facial modal -->
<div class="modal fade" id="facialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="facialLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="facialTreatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Bespoke Aromatherapy Facial with Customised Facial Massage" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="small pb-0 mb-0">1 attendee</p>
                            <p class="fw-normal h5">Total: <span class="h4">£165</span></p>
                        </div>
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- treatment modal -->
<div class="modal fade" id="treatmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="treatmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="treatmentForm">
                <div class="sending-form modal-body d-none p-3"></div>
                <div class="modal-body form_body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
                            <div class="flex-fill">
                                <input readonly="readonly" type="text" name="WorkshopTitle" class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white w-100" value="Book a treatment" />
                            </div>
                        </li>
                    </ul>
                    <div class="border rounded-lg py-2 px-3 mb-3">
                        <div class="d-flex row align-items-center">
                        	<div class="col-12">
                        	<label for="treatment">Select a treatment:</label>
<select class="form-control mb-3" name="treatment" id="treatment" form="treatmentForm">
	<option value="Select your treatment">Select your treatment</option>
  <option value="Custom Head-to-Toe Aromatherapy Massage">Custom Head-to-Toe Aromatherapy Massage</option>
  <option value="Problem-targeted Aromatherapy Massage">Problem-targeted Aromatherapy Massage</option>
  <option value="Custom Body Polish Package">Custom Body Polish Package</option>
  <option value="Salt and Oil Aromatherapy Scrub">Salt and Oil Aromatherapy Scrub</option>
  <option value="Bespoke Aromatherapy Facial with Customised Facial Massage">Bespoke Aromatherapy Facial with Customised Facial Massage</option>
</select>
                            
<div class="mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="text" name="date" class="form-control rounded-lg" id="date" data-mdb-input-mask="99/99/9999" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="DD/MM/YYYY" data-mdb-input-placeholder="false" placeholder="e.g. 03/09/2021" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Preferred Time</label>
                                    <input type="text" name="time" class="form-control rounded-lg" id="time" data-mdb-input-mask="99:00" data-mdb-mask-placeholder="true" data-mdb-char-placeholder="HH:MM" data-mdb-input-placeholder="false" placeholder="e.g. 18:00" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" class="form-control rounded-lg" id="name" placeholder="e.g. Joe Smith" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control rounded-lg" id="phone" placeholder="e.g. 07747123456" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control rounded-lg" id="email" placeholder="e.g. Joe.Smith@domain.com" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="submit" class="btn btn-dark">SEND REQUEST</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>