<div class="col-lg-5 order-2 space-1 space-lg-2">
				<h3 class="mb-4">Blended by hand in small batches.</h3>
				<p>All of our room mists are expertly formulated and blended in-house using the purest possible essential oils.</p><p>These oil blends are then suspended in a vegan, eco-solvent that's both good for the planet and your home before being carefully and lovingly bottled for you to enjoy.</p>
				
			</div>
			<div class="col-lg-6 order-1">
				<div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url(/images/room-mist-feature-image.jpg);"></div>
			</div>