	<div class="row">
		<div class="col-lg-8 mx-auto text-center space-1 space-lg-2">
			<h3 class="mb-4">How to Use</h3>
		
			
				<p>Aim away from face and other people. Spray 2-3 times in different directions and allow to settle.</p>
			

		</div>
	</div>