			<h3 class="mb-4">Ingredients and Safety information</h3>
			<p class="small">Safety: Keep out of reach of children and pets. Do not ingest. Do not spray near or over naked flames. In case of contact with skin, rinse immediately with water. In case of contact with eyes, rinse immediately and seek medical attention.</p>


